@media (min-width: 1400px) {
  .container {
    max-width: 1350px;
  }
}

@media only screen and (max-width: 1680px) {
  .circle-blur_top-right {
    top: -250px;
    right: -400px;
  }
  .circle-blur_center-left {
    left: -470px;
  }
  .circle-blur_center-right {
    right: -900px;
  }
  .circle-blur_bottom-left {
    left: -750px;
  }
  /**/
}

@media only screen and (max-width: 1400px) {
  .header-main {
    padding-top: 30px;
  }
  .header-phone {
    font-size: 16px;
  }
  .header-phone::before {
    top: -4px;
  }
  .section-main {
    padding-bottom: 25px;
  }
  .main-caption {
    width: 59%;
    padding-top: 30px;
  }
  .main-caption__title {
    font-size: 52px;
  }
  .main-caption__text {
    font-size: 24px;
  }
  .main-advantage {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 60px;
  }
  .main-advantage__item {
    width: calc(50% - 28px);
    margin-bottom: 40px;
  }
  .info {
    padding-left: 30px;
  }
  .info-main {
    width: 620px;
    min-width: 620px;
  }
  .info-title {
    font-size: 48px;
  }
  .info-text {
    font-size: 24px;
  }
  .banner-main {
    padding-left: 30px;
  }
  .banner-title {
    font-size: 48px;
  }
  .banner-text {
    font-size: 24px;
  }
  .price {
    padding-left: 30px;
  }
  .price-title {
    font-size: 48px;
  }
  .price-text {
    font-size: 24px;
  }
  .footer-phone {
    font-size: 16px;
  }
  .footer-phone::before {
    top: -4px;
  }
  /**/
}

@media only screen and (max-width: 1200px) {
  .btn {
    font-size: 20px;
  }
  .header-logo {
    max-width: 75px;
  }
  .header-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-phone {
    margin: 0 0 10px;
  }
  .header-phone::before {
    display: none;
  }
  .main-pict {
    width: 420px;
  }
  .main-caption {
    width: 55%;
  }
  .main-caption__title {
    font-size: 46px;
  }
  .main-caption__text {
    font-size: 20px;
  }
  .main-advantage__title {
    font-size: 16px;
  }
  .main-advantage__text {
    font-size: 16px;
  }
  .info-main {
    width: 450px;
    min-width: 450px;
  }
  .info-title {
    font-size: 40px;
  }
  .info-text {
    font-size: 18px;
  }
  .info-advantage__item {
    width: 100%;
    margin: 0 0 20px;
  }
  .info-advantage__title {
    font-size: 16px;
  }
  .banner {
    padding-right: 30px;
  }
  .banner-title {
    font-size: 40px;
  }
  .banner-text {
    font-size: 18px;
  }
  .price-title {
    font-size: 40px;
  }
  .price-text {
    font-size: 18px;
  }
  .footer-logo {
    max-width: 75px;
  }
  .footer-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-phone {
    margin: 0 0 10px;
  }
  .footer-phone::before {
    display: none;
  }
  /**/
}

@media only screen and (max-width: 992px) {
  .menu-mob {
    display: block;
  }
  .header-main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px;
  }
  .header-menu {
    display: none;
  }
  .section-main {
    padding-top: 100px;
  }
  .main-pict {
    width: auto;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0.5 !important;
  }
  .main-caption {
    width: 100%;
  }
  .main-advantage {
    margin: 60px -15px 0;
  }
  .main-advantage__item {
    width: calc(50% - 30px);
    margin: 0 15px 40px;
  }
  .main-advantage__item:last-child {
    margin-right: 15px;
  }
  .info-main {
    width: 100%;
    min-width: auto;
  }
  .info-advantage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 50px -15px 0;
  }
  .info-advantage__item {
    width: calc(50% - 30px);
    margin: 0 15px 20px;
  }
  .info-advantage__title {
    font-size: 16px;
  }
  .info-pict {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0.5 !important;
  }
  .banner-pict {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0.5 !important;
  }
  .footer {
    opacity: 1 !important;
  }
  .footer-main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 25px 0 20px;
  }
  .footer-logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer-nav {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 20px;
    text-align: center;
  }
  .footer-menu {
    display: none;
  }
  .footer-contact {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  /**/
}

@media only screen and (max-width: 768px) {
  .circle-blur_top-right {
    z-index: 0;
  }
  .circle-blur_bottom-left {
    left: -900px;
  }
  .info-advantage__title {
    margin-left: 10px;
  }
  .price-text {
    margin-bottom: 30px;
  }
  .price-form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 15px;
  }
  .price-form__row input {
    max-width: none;
    margin: 0 0 14px;
  }
  /**/
}

@media only screen and (max-width: 575px) {
  .btn {
    font-size: 18px;
  }
  .btn i {
    width: 38px;
    height: 11px;
  }
  .main-caption__title {
    font-size: 36px;
  }
  .main-caption__text {
    font-size: 18px;
  }
  .info-title {
    font-size: 34px;
  }
  .info-advantage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 40px 0 0;
  }
  .info-advantage__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0 0 20px;
  }
  .info-advantage__title {
    padding-top: 0;
  }
  .info-advantage__title br {
    display: none;
  }
  .callback-form {
    padding: 40px 15px 50px;
  }
  /**/
}

@media only screen and (max-width: 480px) {
  .btn {
    font-size: 16px;
  }
  .mobile-nav {
    width: 255px;
  }
  .header-logo {
    max-width: 53px;
  }
  .section-main {
    padding: 80px 0 0;
  }
  .main-caption__title {
    font-size: 26px;
  }
  .main-caption__title br {
    display: none;
  }
  .main-caption__text {
    font-size: 16px;
  }
  .main-caption__text br {
    display: none;
  }
  .main-advantage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px 0 0;
  }
  .main-advantage__item {
    width: 100%;
    margin: 0 0 40px;
  }
  .main-advantage__item br {
    display: none;
  }
  .info {
    padding: 30px 15px 10px;
  }
  .info-title {
    font-size: 28px;
  }
  .info-title br {
    display: none;
  }
  .info-text {
    font-size: 16px;
  }
  .info-text br {
    display: none;
  }
  .banner-main {
    padding: 30px 15px;
  }
  .banner-title {
    font-size: 28px;
  }
  .banner-title br {
    display: none;
  }
  .banner-text {
    font-size: 16px;
  }
  .banner-text br {
    display: none;
  }
  .banner-btn i {
    display: none;
  }
  .price-main {
    padding: 30px 15px 10px;
  }
  .price-title {
    font-size: 28px;
  }
  .price-title br {
    display: none;
  }
  .price-text {
    font-size: 16px;
  }
  .price-text br {
    display: none;
  }
  .price-btn i {
    display: none;
  }
  /**/
}
