


.m2-map-ladplots-widget {font-family:"Montserrat", "sans-serif"; overflow:hidden; max-width:100%; }
 	.m2-map-ladplots-widget *{font-family:"Montserrat", "sans-serif";    }
	/* Убираем возможность выделения текста и вызова контекстного меню на элементах с классами .noselect и .tooltipster-base */
.m2-map-ladplots-widget .noselect, .tooltipster-base ,.scheme *, .m2-map-ladplots-widget *{
    -webkit-touch-callout: none; /* Отключаем вызов контекстного меню на iOS Safari */
    -webkit-user-select: none;   /* Отключаем выделение текста в Safari */
    -khtml-user-select: none;    /* Отключаем выделение текста в Konqueror */
    -moz-user-select: none;      /* Отключаем выделение текста в старых версиях Firefox */
    -ms-user-select: none;       /* Отключаем выделение текста в Internet Explorer/Edge */
    user-select: none;           /* Отключаем выделение текста в современных браузерах */
}

/* Элементы, которые по умолчанию скрыты */
.m2-map-ladplots-widget .hidden {
      display: none !important;  /* Скрываем элемент */
}

  
/* Основная схема */
.m2-map-ladplots-widget .scheme {
    margin: 0 auto;              /* Центрируем схему */
    position: relative;          /* Относительное позиционирование для вложенных элементов */
}

/* Вложенный SVG */
.m2-map-ladplots-widget .scheme svg {
    position: absolute;          /* Абсолютное позиционирование для точного размещения */
    top: 0;
    left: 0;
    z-index: 10;                 /* Определяем порядок отображения поверх других элементов */
}

/* Стиль для полигонов и путей внутри схемы */
.m2-map-ladplots-widget .scheme svg polygon, .scheme svg path {
    fill: rgb(255, 138, 144);    /* Цвет заполнения элементов */
    opacity: 0.5;                /* Прозрачность элементов */
    stroke: #FFF;                /* Цвет обводки */
    stroke-width: 1;             /* Толщина обводки */
}

/* Стиль для полигонов и путей при наведении */
.m2-map-ladplots-widget .scheme svg polygon:hover, .scheme svg path:hover {
    fill: #ffc70b;               /* Изменяем цвет при наведении */
    opacity: 0.8;                /* Сохраняем прозрачность при наведении */
	 stroke: red;                /* Цвет обводки */
	 stroke-width: 2;             /* Толщина обводки */
}

 

/* Стиль для полигонов и путей, которые находятся в продаже */
.m2-map-ladplots-widget .scheme polygon.insale, .scheme path.insale {
    cursor: pointer;             /* Указатель мыши в виде руки при наведении */
    opacity: 0.6;                /* Увеличиваем прозрачность для выделения */
}

/* Стиль при наведении на продаваемые полигоны и пути */
.m2-map-ladplots-widget .scheme polygon.insale:hover, .scheme path.insale:hover {
    opacity: 0.2;                /* Уменьшаем прозрачность при наведении для эффекта выделения */
}

 

/* Стили для текстовых меток */
 .m2-map-ladplots-widget .label-text {
    font-size: 10px;             /* Размер шрифта метки */
    font-weight: normal;         /* Нормальная толщина шрифта */
    fill: #FFF;                  /* Цвет текста метки */
    transform: translate(0, 3px);/* Коррекция позиции текста */
    font-family: "Montserrat", "sans-serif"; /* Шрифт метки */
}

  

 







/* Стиль для контейнера с изображением КОТОРОЕ ЗАДАЕТ РАЗМЕР КОНТЕЙНЕРА */
.m2-map-ladplots-widget .sizeimage_xxx {
    width: 100%;                 /* Растягиваем изображение на всю ширину контейнера */
    height: auto;                /* Высота изображения автоматически подстраивается */
    display: block;              /* Убираем возможные пробелы вокруг изображения */
}

/* Прозрачный оверлей для кликов  */
.m2-map-ladplots-widget .click-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.0); /* Прозрачный фон */
    z-index: 103;
    cursor: pointer;
}


/* Контейнер карты занимает всю высоту */
.m2-map-ladplots-widget .map-container {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* SVG занимает всю высоту контейнера */
.m2-map-ladplots-widget .map-container svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
 

/*---  Панель с информацией об участке ---- */
.m2-map-ladplots-widget .plotpanel {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1001;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 4px;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.3em;
	
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

/* Значение свойств в мобильной панельке */
.m2-map-ladplots-widget .plotpanel_val {
    font-weight: bold;
}


/* Кнопка бронирования в мобильном */
.m2-map-ladplots-widget .book-button_w {
    width: 100%;
    text-align: center;
}

.m2-map-ladplots-widget .book-button {
    background: #4eb051;
    color: #FFF;
    border: solid 1px #FFF;
    border-radius: 10px;
    padding: 5px;
}







/* -------- Контейнер для виджета карты ------- */
.m2-map-ladplots-widget {
    position: relative;
    width: 100%;
    height: auto;
}



/*---------- Magnific popup ------------*/

/* Кнопка закрытия модального окна */
.mfp-close {
    background: #FFF;
    opacity: 1;
    border-radius: 50px;
    position: absolute;
    margin-top: -50px;
    color: #803545;
    font-size: 32px;
    font-weight: lighter;
    font-family: math;
}

.mfp-close-btn-in .mfp-close {
    color: #803545;
    background: #FFF;
    margin-right: 0;
}

@media (min-width: 992px)  { 
    .mfp-close-btn-in .mfp-close {
        margin-right: -50px;
    }
}

 /*---------- Прогрессбар  ------------*/

/* Стили для сообщения о загрузке */
.m2-map-ladplots-widget .loading-message {
    width: 100%;
    height: 100%;
    position: absolute; /* Абсолютное позиционирование, чтобы элемент был поверх всех остальных */
    top: 0;
    left: 0;
    z-index: 2000; /* Устанавливаем высокий z-index, чтобы элемент был выше других */
    background: rgba(255, 255, 255, 0.1); /* Полупрозрачный белый фон для лучшей видимости */
    display: flex; /* Используем flexbox для центрирования содержимого */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    text-align: center; /* Выравнивание текста по центру */
}

 
/* Стили для содержимого сообщения о загрузке */
.m2-map-ladplots-widget .loading-content {
    font-size: 20px; /* Размер шрифта для сообщения */
    color: #333; /* Темный цвет текста */
	    background: rgba(255, 255, 255, 0.6);
		padding:30px;
}


/* Стили для кнопки закрытия  карты */
.m2-map-ladplots-widget .expand-button {
    position: absolute;
    top: 10px;                /* Располагаем кнопку в верхней части */
    right: 10px;              /* Располагаем кнопку в правой части */
    z-index: 1001;            /* Устанавливаем высокий z-index, чтобы кнопка была выше других элементов */
    background: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
    padding: 5px;             /* Внутренние отступы */
    border-radius: 4px;       /* Закругляем углы */
    cursor: pointer;          /* Указатель мыши в виде руки при наведении */
    font-size: 42px;          /* Размер шрифта для кнопки */
    font-weight: bold;        /* Жирный шрифт */
    line-height: 27px;        /* Высота строки */
    border: solid 2px #000;   /* Черная рамка */
    text-align: center;       /* Выравнивание текста по центру */
    width: 30px;              /* Ширина кнопки */
    height: 27px;             /* Высота кнопки */
    display: none;            /* По умолчанию скрываем кнопку */
}

.widget-container{

  opacity: 1;
    transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out, height 0.5s ease-in-out;

    background: rgba(255, 255, 255, 0.95); /* Полупрозрачный белый фон */
	max-width:100%;
	}
	
	 
.search-container{display:none;}