RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^([a-f0-9]{32})$ /sahmatka/iframe_router.php?ctr=compred&act=public&token=$1 [QSA,L]
