 .noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	supported by Chrome, Edge, Opera and Firefox */
}
#close_modal {
display: none;
    font-size: 52px;
    font-weight: 100;
    text-align: right;
	cursor:pointer;
	
     
   
}
.psevsdomodal_open{
	display:block;
	z-index:999;
	background-color:#FFF;
	height:100vh;
	position:fixed;
	top: 0;
    width: 100%;
}
.psevsdomodal_open #map{height:calc(100vh - 70px);}
#zoomcontainer{
  width:100%;
  max-width:100%;
  overflow:scroll;
  margin: 0 auto;
   
}


#slide{
  width:100%;
  transition: transform .1s;
}
 



.scheme {
	 
	margin: 0 auto;
	position: relative;
}
.scheme svg {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:10;
}








.scheme polygon {
	fill:rgb(255, 138, 144); /*808080*/
	 
	opacity: 0.5;
}

.scheme polygon:hover 
{
	/*
	fill: #ffc70b;
	
	*/
	opacity: 0.5;
}
  

/*Полигоны в продаже */
.scheme polygon.insale{
	cursor:pointer;
	opacity: 0.6;
}
.scheme polygon.insale:hover{
	cursor:pointer;
	opacity: 0.2;
}
 
.scheme-item {
	position: absolute;
	cursor: pointer;
	 z-index:100000;
	 display:none;
}
.scheme-name {
	font-weight: bold;
	font-size: 10px;
	text-align: center;
	line-height: 13px;
}
.scheme-popup {
	display: none;
	border: 1px solid #777;
	padding: 10px;
	width: 200px;
	position: absolute;
	font-size: 12px;
	line-height: 14px;
	background: #fff;
	z-index: 9;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	text-align: left;
 
}