RewriteEngine on

RewriteRule ^sahmatka/domclick-([0-9]+)\.xml$ sahmatka/domclick_feedx.php?home_id=$1


 
 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]

