<?php
 
 $cnf['domen'] = 'dev';
 $cnf['demo']=1;
 
 
 
 if( $cnf['demo'] )
 {
	 if(isset( $_SESSION['sh_login']) && $_SESSION['sh_login'] == 'demo_admin' && $_POST) 
	 {
		 
		if(!isset($_GET['ajax']) && $_GET['act']!='edit' ) 
		{
			// alax
			// die('Доступ запрещен - в демонстрационном режиме можно только просматривать данные');
		}
		else
		{
			 die('Доступ запрещен - в демонстрационном режиме можно только просматривать данные');
		}
	 }
 } 
 
 
 
 // fw_check_access( array( 'mod' => '', 'ctr'=>'' , act =>'' ) ) // Используем в загрузчике контроллеров
function fw_check_access( $params )
{
	/*
	$params['mod']
	ctr
	act
	
	user_id
	login
	
	*/
	/*
	$_SESSION
	[formshow] => 1691663931
    [agency_id] => 1
    [ucaption] => Администраторы
    [adm_caption] => Администраторы
    [sh_password] => 89039111405
    [sh_login] => admin
    [sh_id] => 1
    [sh_name] => Администратор
    [agency_adm_id] => 1
    [gl_user_id] => 1
	*/
	
	$user_id = $_SESSION['sh_id'];

	if($ctr = '' && $act=''   )
	{
		if( $user_id == '1' || $user_id == '1' || $user_id == '1' ){ return true; }
		else{ return false; }
	}
	
}




######################
#### ОбРАБОТКА ОШИБОК И ОТЛАДКА
######################

if( isset($_GET['dev']) )
{
	ini_set('display_errors', 1);
	ini_set('display_startup_errors', 1);
	error_reporting(E_ERROR );
	ini_set("log_errors", 1);
	ini_set("memory_limit","512M");
	ini_set("error_log", __DIR__."/php-error.log");
}
else
{
	ini_set('display_errors', 0);
	ini_set('display_startup_errors', 0);
	error_reporting(0);
}
 
 
// Перехват ошибок в том числе фатальных 
register_shutdown_function( "fatal_handler" );
function fatal_handler() {
	ob_flush();ob_flush();ob_flush();
    $errfile = "unknown file";
    $errstr  = "shutdown";
    $errno   = E_CORE_ERROR;
    $errline = 0;

    $error = error_get_last();

			//print '<pre>';
			//print_r( $error );
			//print '</pre>';
    if($error !== NULL) {
        $errno   = $error["type"];
        $errfile = $error["file"];
        $errline = $error["line"];
        $errstr  = $error["message"];
		if(isset($_GET['dev']))
		{
			
			print '<pre>';
			print_r( $error );
			print '</pre>';
		 
		 
		}
    }
}
session_start();

	/*
	$custom_apparts[100][1]['homecaption'] = ' Тюленина, 5';
	$custom_apparts[100][1]['apartment_num'] = '3';
	$custom_apparts[100][1]['rooms'] = '2';
	$custom_apparts[100][1]['area'] = '69,2 ';
	$custom_apparts[100][1]['price'] = '5 500 000';
	$custom_apparts[100][1]['image_pb'] = '/sahmatka/custom_appart/2.svg';
	 */
	$custom_apparts[101][1]['homecaption'] = ' Свечникова, 4/1 ';
	$custom_apparts[101][1]['apartment_num'] = '1';
	$custom_apparts[101][1]['rooms'] = '3';
	$custom_apparts[101][1]['area'] = ' 73,2';
	$custom_apparts[101][1]['price'] = '6 650 000';
	$custom_apparts[101][1]['image_pb'] = '/sahmatka/custom_appart/1.svg';
	 
	$custom_apparts[102][1]['homecaption'] = ' Краузе 21/1';
	$custom_apparts[102][1]['apartment_num'] = '340';
	$custom_apparts[102][1]['rooms'] = '1';
	$custom_apparts[102][1]['area'] = ' 41';
	$custom_apparts[102][1]['price'] = '3 890 000';
	$custom_apparts[102][1]['image_pb'] = '/sahmatka/custom_appart/x.jpg';
	 
	
	$custom_apparts_all = array();
	foreach($custom_apparts as $k=>$v)
	{
		foreach($v as $k1=>$v1)
		{
			$custom_apparts_all_item = $v1;
			$custom_apparts_all_item['home'] = $k;
			$custom_apparts_all_item['custom_appart_id'] = $k1;
			
			$custom_apparts_all[] = $custom_apparts_all_item;
		}
	}
	
	
$status_arr=array();
$status_arr[0] = 'Не задан (свободно)';
$status_arr[2] = 'Свободо';
$status_arr[3] = 'Продано';
$status_arr[4] = 'Бронь';
$status_arr[5] = 'Бронь застройщика';
$status_arr[6] = 'Бронь подрядика';

$status_color_arr=array();
$status_color_arr[0] = '#8DFFA9';
$status_color_arr[2] = '#8DFFA9';
$status_color_arr[3] = '#FF8A90';
$status_color_arr[4] = '#FEFF52';
$status_color_arr[5] = '#D5E6FE';
$status_color_arr[6] = '#991DFB';
 

//ВЕЗДЕ!!!
$kvartal[6] = 'ДИНАСТИЯ';
$kvartal[1] = 'Квартал INFINITY';
$kvartal[2] = 'Микрорайон Приозерный';
$kvartal[3] = 'Серия RED';
$kvartal[7] = 'АТОМ';

$kvartal_code[6] = '006';
$kvartal_code[1] = '004';
$kvartal_code[2] = '002'; 
$kvartal_code[3] = '005';
$kvartal_code[7] = '007';


// Выпадающий список домов кварталов в каталоге!
$kvartal_style[6] = ' background-color:#E30613; color: #FFF; font-weight: bold;';
$kvartal_style[1] = ' background-color:#E77600; color: #FFF; font-weight: bold;';
$kvartal_style[2] = ' background-color:#F4C200; color: #FFF; font-weight: bold; '; 
$kvartal_style[3] = ' background-color: red; color: #FFF; font-weight: bold;';
$kvartal_style[7] = ' background-color: #eb5b04; color: #3e3c51; font-weight: bold;';

// ХЗ где
   
$kv_type['1'] = 'Однокомнатная квартира';
$kv_type['2'] = 'Двухкомнатная квартира';
$kv_type['3'] = 'Трехкомнатная квартира';
$kv_type['4'] = 'Четырехкомнатная квартира';

$kv_type['1с'] = 'Одноконатная студия';
$kv_type['2с'] = 'Двухкомнатная студия';
$kv_type['3с'] = 'Трехкомнатная студия';
$kv_type['4с'] = 'Четырехкомнатная студия';

$kv_type['1к'] = 'Однокомнатная квартира';
$kv_type['2к'] = 'Двухкомнатная квартира';
$kv_type['3к'] = 'Трехкомнатная квартира';
$kv_type['4к'] = 'Четырехкомнатная квартира';


function fromsql_date($mysqldate,$notime=0)
{
	$phpdate = strtotime( $mysqldate );
	if($notime)
	{
		return $normaldate = date( 'd.m.Y', $phpdate );
	}
	else
	{
		return $normaldate = date( 'd.m.Y H:i:s', $phpdate );
	}
}




/* 
 * Custom PHP function to send an email with multiple attachments 
 * $to Recipient email address 
 * $subject Subject of the email 
 * $message Mail body content 
 * $senderEmail Sender email address 
 * $senderName Sender name 
 * $files Files to attach with the email 
 */ 
function multi_attach_mail($to, $subject, $message, $senderEmail, $senderName, $files = array())
{ 
    // Sender info  
    $from = $senderName." <".$senderEmail.">";  
    $headers = "From: $from"; 
 
    // Boundary  
    $semi_rand = md5(time());  
    $mime_boundary = "==Multipart_Boundary_x{$semi_rand}x";  
 
    // Headers for attachment  
    $headers .= "\nMIME-Version: 1.0\n" . "Content-Type: multipart/mixed;\n" . " boundary=\"{$mime_boundary}\"";  
 
    // Multipart boundary  
    $message = "--{$mime_boundary}\n" . "Content-Type: text/html; charset=\"UTF-8\"\n" . 
    "Content-Transfer-Encoding: 7bit\n\n" . $message . "\n\n";  
 
    // Preparing attachment 
    if(!empty($files)){ 
        for($i=0;$i<count($files);$i++){ 
            if(is_file($files[$i])){ 
                $file_name = basename($files[$i]); 
                $file_size = filesize($files[$i]); 
                 
                $message .= "--{$mime_boundary}\n"; 
                $fp =    @fopen($files[$i], "rb"); 
                $data =  @fread($fp, $file_size); 
                @fclose($fp); 
                $data = chunk_split(base64_encode($data)); 
                $message .= "Content-Type: application/octet-stream; name=\"".$file_name."\"\n" .  
                "Content-Description: ".$file_name."\n" . 
                "Content-Disposition: attachment;\n" . " filename=\"".$file_name."\"; size=".$file_size.";\n" .  
                "Content-Transfer-Encoding: base64\n\n" . $data . "\n\n"; 
            } 
        } 
    } 
     
    $message .= "--{$mime_boundary}--"; 
    $returnpath = "-f" . $senderEmail; 
     
    // Send email 
    $mail = mail($to, $subject, $message, $headers, $returnpath);  
     
    // Return true if email sent, otherwise return false 
    if($mail){ 
        return true; 
    }else{ 
        return false; 
    } 
}

	 
	///Сборка формы для отправки
	function form_message( $data_arr='' , $mess_conf='' , $dev=0 )
	{
		$mess='';
		foreach( $data_arr as $k=>$v)
		{
			if( $mess_conf[$k] )
			{
				$mess.='<b>'.$mess_conf[$k].':</b> '. $data_arr[$k]."\r\n<br/><br/>";
			}
			elseif( $dev )
			{
				$dev_mess.='<b>$mess_conf[\''.$k.'\']</b>="'.$data_arr[$k].'";<br/>';
			}
			else
			{
				
			}
		}
		if($dev){$mess.=$dev_mess;}
		return $mess;
	}
 

include('../../core/functions.php');	
t('functions.php');

$connection = mysqli_connect('localhost', 'm2profi_demo', 'TvWv|M_5=qNA$*84', 'm2profi_demo') or die(mysqli_error()); // Соединение с базой данных 
$result = mysqli_query($connection, "SET NAMES utf8");
 	
$GLOBALS['config']['mysql_login'] = 'm2profi_demo';
$GLOBALS['config']['mysql_password'] = 'TvWv|M_5=qNA$*84';
$GLOBALS['config']['mysql_base'] = 'm2profi_demo';
$GLOBALS['config']['server'] = 'localhost';
 
include('../../core/classes.php');
include('../../core/classes/controller.php');

//include('/fw/controllers/ctr__zapiskeys.php');
include('../../core/classes/router.php');
$r = new router();
include('../../core/classes/filed.php');
$filed = new filed();
t('classes.php');

 


 