# Конфигурация проекта NoffProd
REPO_URL=https://github.com/example/noff-site.git
# Токен для доступа к приватному репозиторию (Settings -> Developer Settings -> PAT)
GITHUB_TOKEN=

# Формат: ОтображаемоеИмя:Путь|Тип (test/prod)
DIRS=noff-test:/path/to/test|test,noff-live:/path/to/prod|prod

# Список логинов, которым разрешен доступ к проекту (если не задано - доступно всем)
ALLOWED_USERS=admin

# Список логинов, которым разрешен деплой в PROD (через запятую)
PROD_ALLOWED_USERS=admin

# Настройки SSH для удаленного сервера
SSH_HOST=example.ssh.host
SSH_USER=user
SSH_PASS=
