

/* Стили редактора форм */
.input_edit
{
	border: solid #3C96E1 2px;
    padding: 5px;
    font-size: 16px;
    width: 470px;
	max-width: 90%;
	margin: 3px;
}
.input_title
{
	text-transform:uppercase;
	margin-left:4px;
	font-size:12px;
	font-weight:bold;
	display:block;
	margin-top: 10px;
	margin-bottom:7px;
	color:#2F4049;
}


.input_title2
{
	text-transform:uppercase;
	margin-left:3px;
	font-size:12px;
	font-weight:bold;
	display:block;
	margin-top: 20px;
	margin-bottom:10px;
	color:#2F4049;
}



.input_button
{
	border:solid 1px; 
	display:block;
	background-color: #3C96E1;
	border-radius :15px; 
	cursor: pointer
	font-family :Montserrat, "sans-serif";
	font-size :14px;
	font-weight: 500;
	height: 51px;
	color:#FFF;
	width:500px;
	max-width:100%;
	letter-spacing: 1.4px;
	text-transform: uppercase;
}








.input_edit_line
{
	border: solid #3C96E1 2px;
    padding: 5px;
    font-size: 16px;
    width:100%;
	 
	margin: 3px;
	padding: 10px;
}


.filedline
{
	display:inline-block;

	
}


.datatable td
{
	font-size:12px;
}
.datatable tr:hover
{
	background-color:#F0F0FF;
}

# Правим таблицы!
.dtable   {
	font-size:12px;
    padding: 3px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
	width:auto;
}
.stat-table-user table tr th:first-child, .stat-table-user table tr td:first-child {
    width: auto;
}




.iconplus
{
    display: inline-block;
    border: solid 2px #4593D0;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
      padding: 3px; 
    font-size: 16px;
    font-weight: bold;
    color: #4593D0;
}







.fw_input_wrapper{
	 padding:3px;
	 border:solid 2px #FFF;
}
 
 
.fw_input_wrapper select , .fw_input_wrapper input{
	margin:0;
}
 
.fw_input_wrapper .fw_input_error{
	font-size: 10px;
    color: red;
    text-transform: none;
    font-weight: normal;
}