
.fw__imgtext {
	display: flex;
	align-items:center;
}
.fw__imgtext *{
	display: inline-block;
}
 
 

 
.fw__tb {
	display: flex;
	flex-direction: column;
}
 
.fw__tb :first-child
{
	display:flex;
	align-self:flex-start;
}

.fw__tb :nth-child(2)
{
  flex-grow: 3
}


.fw__tb :last-child
{
	display:flex;
	align-self:flex-start;
}



.fw__flex{
	display:flex; 
	align-content: stretch; /* Тянуть блоки на всю высоту */
	align-items: stretch;  
	gap: 20px; /* Отступ */
	flex-wrap: wrap; /* Перенос на следующую строку */
	}
 

.bigtitle{font-size:124px;}
	@media screen and (max-width: 768px) {
	.bigtitle{font-size:72px;;}
}




@media screen and (max-width: 768px) {
	.fw_block_md {
		display:block; 
		width:100%;
	}
}