<?php

if( isset($_GET['dev']) )
{
	ini_set('display_errors', 1);
	ini_set('display_startup_errors', 1);
	error_reporting(E_ERROR );
	ini_set("log_errors", 1);
	ini_set("memory_limit","512M");

	ini_set("error_log", __DIR__."/php-error.log");

}
else
{
	ini_set('display_errors', 0);
	ini_set('display_startup_errors', 0);
	error_reporting(0);
	
}
 


// Перехват ошибок в том числе фатальных 
register_shutdown_function( "fatal_handler" );
function fatal_handler() {
	ob_flush();ob_flush();ob_flush();
    $errfile = "unknown file";
    $errstr  = "shutdown";
    $errno   = E_CORE_ERROR;
    $errline = 0;

    $error = error_get_last();

			//print '<pre>';
			//print_r( $error );
			//print '</pre>';
    if($error !== NULL) {
        $errno   = $error["type"];
        $errfile = $error["file"];
        $errline = $error["line"];
        $errstr  = $error["message"];
		if(isset($_GET['dev']))
		{
			
			print '<pre>';
			print_r( $error );
			print '</pre>';
		 
		 
		}
    }
}



session_start();

$basedir  = __DIR__.'';
 

 
	
	$custom_apparts_all = array();
	foreach($custom_apparts as $k=>$v)
	{
		foreach($v as $k1=>$v1)
		{
			$custom_apparts_all_item = $v1;
			$custom_apparts_all_item['home'] = $k;
			$custom_apparts_all_item['custom_appart_id'] = $k1;
			
			$custom_apparts_all[] = $custom_apparts_all_item;
		}
	}
	
 

function fromsql_date($mysqldate,$notime=0)
{
	$phpdate = strtotime( $mysqldate );
	if($notime)
	{
		return $normaldate = date( 'd.m.Y', $phpdate );
	}
	else
	{
		return $normaldate = date( 'd.m.Y H:i:s', $phpdate );
	}
}






/* 
 * Custom PHP function to send an email with multiple attachments 
 * $to Recipient email address 
 * $subject Subject of the email 
 * $message Mail body content 
 * $senderEmail Sender email address 
 * $senderName Sender name 
 * $files Files to attach with the email 
 */ 
function multi_attach_mail($to, $subject, $message, $senderEmail, $senderName, $files = array())
{ 
    // Sender info  
    $from = $senderName." <".$senderEmail.">";  
    $headers = "From: $from"; 
 
    // Boundary  
    $semi_rand = md5(time());  
    $mime_boundary = "==Multipart_Boundary_x{$semi_rand}x";  
 
    // Headers for attachment  
    $headers .= "\nMIME-Version: 1.0\n" . "Content-Type: multipart/mixed;\n" . " boundary=\"{$mime_boundary}\"";  
 
    // Multipart boundary  
    $message = "--{$mime_boundary}\n" . "Content-Type: text/html; charset=\"UTF-8\"\n" . 
    "Content-Transfer-Encoding: 7bit\n\n" . $message . "\n\n";  
 
    // Preparing attachment 
    if(!empty($files)){ 
        for($i=0;$i<count($files);$i++){ 
            if(is_file($files[$i])){ 
                $file_name = basename($files[$i]); 
                $file_size = filesize($files[$i]); 
                 
                $message .= "--{$mime_boundary}\n"; 
                $fp =    @fopen($files[$i], "rb"); 
                $data =  @fread($fp, $file_size); 
                @fclose($fp); 
                $data = chunk_split(base64_encode($data)); 
                $message .= "Content-Type: application/octet-stream; name=\"".$file_name."\"\n" .  
                "Content-Description: ".$file_name."\n" . 
                "Content-Disposition: attachment;\n" . " filename=\"".$file_name."\"; size=".$file_size.";\n" .  
                "Content-Transfer-Encoding: base64\n\n" . $data . "\n\n"; 
            } 
        } 
    } 
     
    $message .= "--{$mime_boundary}--"; 
    $returnpath = "-f" . $senderEmail; 
     
    // Send email 
    $mail = mail($to, $subject, $message, $headers, $returnpath);  
     
    // Return true if email sent, otherwise return false 
    if($mail){ 
        return true; 
    }else{ 
        return false; 
    } 
}

	 
	///Сборка формы для отправки
	function form_message( $data_arr='' , $mess_conf='' , $dev=0 )
	{
		$mess='';
		foreach( $data_arr as $k=>$v)
		{
			if( $mess_conf[$k] )
			{
				$mess.='<b>'.$mess_conf[$k].':</b> '. $data_arr[$k]."\r\n<br/><br/>";
			}
			elseif( $dev )
			{
				$dev_mess.='<b>$mess_conf[\''.$k.'\']</b>="'.$data_arr[$k].'";<br/>';
			}
			else
			{
				
			}
		}
		if($dev){$mess.=$dev_mess;}
		return $mess;
	}
 

include('../../../core/functions.php');	
t('functions.php');

$connection = mysqli_connect('localhost', 'root', 'root', 'm2profi_doc') or die(mysqli_error()); // Соединение с базой данных 
$result = mysqli_query($connection, "SET NAMES utf8");

$GLOBALS['config']['domains']['doc'] = 'https://doc.m2profi.pro.test';
$GLOBALS['config']['domains']['main'] = 'https://m2profi.pro';
$GLOBALS['config']['domains']['em'] = 'https://doc.m2profi.pro.test';
$GLOBALS['config']['domains']['gl'] = 'https://doc.m2profi.pro.test';
$GLOBALS['config']['domains']['msk'] = 'https://doc.m2profi.pro.test';


$GLOBALS['config']['mysql_login'] = 'root';
$GLOBALS['config']['mysql_password'] = 'root';
$GLOBALS['config']['mysql_base'] = 'm2profi_doc';
$GLOBALS['config']['server'] = 'localhost';
$GLOBALS['config']['keys_base_dir'] = '/home/m2profi/web/m2profi.pro/public_html/sites/em/keysbase';
$GLOBALS['config']['keys_base_url'] = 'https://' . $GLOBALS['config']['domain'] . '/'keysbase/';
$GLOBALS['config']['upload_dir']=$basedir.'/upload/';
$GLOBALS['config']['upload_base_url'] = $GLOBALS['config']['domains']['doc'].'/sahmatka/upload/';



include('../../../core/classes.php');
include('../../../core/classes/controller.php');
 

 
include('../../../core/classes/router.php');

include($basedir.'fw/controllers/ctr__nodes.php');
include($basedir.'fw/functions/permissions.php');
 
$r = new router();

// Настройка контроллера и экшена по умолчанию (если не указаны в URL)
// Раскомментируйте и измените значения при необходимости:
$r->default_controller = 'doc';  // Контроллер по умолчанию
$r->default_action = 'index';    // Экшен по умолчанию
include('../../../core/classes/filed.php');
$filed = new filed();
t('classes.php');

 


 