/* стиль есть в м2рент index.php */


.rent_p {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #000000;
}


.p10 {
  padding-bottom: 10px;
}

.p16 {

padding-right: 16px;
padding-bottom: 8px;

}

.p15 {
  padding-right: 7px;
}

.p20 {
  padding-left: 20px;
  padding-right: 20px;
}

.rentcard{padding-top:20px;}

body input:required:valid {
  color: #000000;
}


.rent_h2 {
 
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height */
letter-spacing: 0.2em;
color: #232323;
padding-bottom: 12px;
}


.rent_subtitle {
 
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
/* or 150% */
color: #44617F;
 }

 .row {
    margin: 0 -12px;
}

.rent_img  {

  max-width: 100%;
  max-height:500px;
  
}

.rent_list  {
list-style-image: url('http://em-nsk.ru/m2rent/images/gal.svg');


}



.rent_list > li {

margin-left: 22px;

}

.rent_a  {
  
 
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #56A4ED;
}




.rent_a > img  {
  
  margin-right: 9px;

}



.rent_h3 {
  
 
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
/* identical to box height */

letter-spacing: 0.2em;

color: #445C79;


}

.form_rect  {
  background: #F5F5F5;
border: 1px solid #44617F;
height: 28px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #000000;
width: 100%;
  
  }

.rent_h3 {
    font-family: 'Exo2';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2em;
    color: #445C79;
}


.btn_bg_border {
 background-color: #FFF;
border: 2px solid #445C79;
border-radius: 40px;
height: 52px;

}


.btn_bg {
  background: #445C79;
  border-radius: 40px;
}

.btn_bg_text {
 
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.1em;

color: #44617F;

}

.p20 {
  padding-left: 20px;
  padding-right: 20px;
}
p {
    margin: 0 0 10px;
}

/* __ */





/* стиль НЕТ в м2рент index.php */


@media screen and (max-width: 991px) {
 
.rbzl {
	display: block;
    margin-top: -35px;
    margin-left: 65px;
} 

.rbzcb  {
	margin-top:  15px;
} 


}



.rbzcb  {
	margin-top:  57px;
} 


.rbzl {
	display: block;
    margin-top: -35px;
    margin-left: 65px;
}


.rent_list2 {
    list-style-image: url('https://em-nsk.ru/m2rent/images/gal.svg');
}


.rent_list2 > li {
    margin-left: 20px;
	line-height:2.2em;
}

.form_rent_z  {
  background: #F5F5F5;
border: 1px solid #44617F;
height: 52px;
width: 80%;

}

.form_checkbox_big {
	width: 50px;
height: 52px;
background: #F5F5F5;
border: 1px solid #44617F;

}

.form_rz_text  {

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #000000;

}


.form_rz {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #000000;
margin: 35px 0px 11px 0px;
width: 100%;

}

.form_rz_p {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #445C79;
}
 

.box_map {

max-width: 321px;
background: #FFFFFF;
box-shadow: 0px 0px 6px #9A9293;
padding: 28px 20px 46px 20px;
}

/* __ */



@media screen and (max-width: 991px) {
 
.rbzl {
	display: block;
    margin-top: -35px;
    margin-left: 65px;
} 

.rbzcb  {
	margin-top:  15px;
} 


}



.rbzcb  {
	margin-top:  57px;
} 


.rbzl {
	display: block;
    margin-top: -35px;
    margin-left: 65px;
}


.rent_list2 {
    list-style-image: url('https://em-nsk.ru/m2rent/images/gal.svg');
}


 

.form_rent_z  {
  background: #F5F5F5;
border: 1px solid #44617F;
height: 52px;
width: 80%;

}

.form_checkbox_big {
	width: 50px;
height: 52px;
background: #F5F5F5;
border: 1px solid #44617F;

}

.form_rz_text  {

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #000000;

}


.form_rz {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #000000;
margin: 35px 0px 11px 0px;
width: 100%;

}

.form_rz_p {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #445C79;
}





.box_map {

max-width: 321px;
background: #FFFFFF;
box-shadow: 0px 0px 6px #9A9293;
padding: 28px 20px 46px 20px;
}





/* mobile 1 col */
@media screen and (max-width: 575px) {
	.form_rent_z{width:100%; }
	.form_rz{margin-top:15px;  margin-bottom: 5px;}
}
 


input{padding-left:10px;}

 
input:focus {
  border-color: #EEE;
  border-radius:0;
}



.btn_bg_border {
  background-color: #FFF;
  max-width: 356px;
  cursor:pointer;
  background-position:right;
  background-repeat : no-repeat;
  background-image: url('https://em-nsk.ru/m2rent/bottombg.png');
  transition: all 0.5s ease-in-out;
}


.btn_arrowx
{
  background-repeat : no-repeat;
  padding-left: 50px;
  margin-left: 5px;
  background-image: url("http://em-nsk.ru//m2rent/images/arrow_bg.svg");
   transition: all 0.5s ease-in-out;
}

/* - АНимация беграунда (сдвиг позиции)---------------------------- */
.btn_bg_border:hover {
     background-position: left;
}
 
.btn_bg_text{transition: all 0.3s ease-out ;}
.btn_bg_border:hover .btn_bg_text{color:#fff; }

/* - меняем стрелку- */
.btn_bg_border:hover .btn_arrowx  { background-image: url('http://em-nsk.ru/m2rent/images/arrow_w.svg'); }
/* - --------------------------------------------------------------- */


