@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Exo2Black/Exo2Black.woff2") format("woff2");
}

@font-face {
  font-family: "Exo2";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Exo2BlackItalic/Exo2BlackItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Exo2Bold/Exo2Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Exo2";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Exo2BoldItalic/Exo2BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Exo2ExtraBold/Exo2ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Exo2";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/Exo2ExtraBoldItalic/Exo2ExtraBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Exo2ExtraLight/Exo2ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Exo2";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/Exo2ExtraLightItalic/Exo2ExtraLightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Exo2Light/Exo2Light.woff2") format("woff2");
}

@font-face {
  font-family: "Exo2";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Exo2LightItalic/Exo2LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Exo2Medium/Exo2Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Exo2";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Exo2MediumItalic/Exo2MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Exo2Regular/Exo2Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Exo2";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Exo2RegularItalic/Exo2RegularItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Exo2SemiBold/Exo2SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Exo2";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Exo2SemiBoldItalic/Exo2SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Exo2Thin/Exo2Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Exo2";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/Exo2ThinItalic/Exo2ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/RobotoRegular/RobotoRegular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/RobotoBold/RobotoBold.woff2") format("woff2");
}
