/*-------------Grid-----------*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1360px) {
  .container {
    width: 1350px;
  }
}

/*------------end-------------*/
@media only screen and (max-width: 1000px) {
  .menu-lk {
    position: absolute;
    display: block;
    top: 65px;
    right: 15px;
  }
  .sidenav {
    left: -316px;
  }
  .sidenav.open {
    left: 0;
  }
}



@media only screen and (min-width: 1000px) {
   	.mcontainer{
	padding-left: 370px;
	padding-right: 200px;
    	/* margin-left: 250px; */
   	width: 100%;

	}
}




@media only screen and (max-width: 1360px) {
  .adv-top__link {
    padding-right: 60px;
  }
  .adv-top__link:after {
    width: 55px;
  }
  .adv-item {
    padding: 15px 15px 15px;
  }
  .adv-item__text {
    padding-right: 70px;
  }
  .adv-item__pict {
    width: 90px;
    height: 90px;
  }
  .adv-item__pict img {
    max-height: 100%;
  }
  .btn_arrow i {
    width: 45px;
    height: 13px;
  }
  .stepform-item {
    padding: 25px 15px 60px;
  }
  .stepform-item__title {
    width: 44%;
  }
  .stepform-item__main {
    width: 56%;
  }
  .stepform-item__bottom {
    padding-left: 15px;
  }
  .stepform-item-count {
    margin-right: 20px;
  }
  .stepform-item__link {
    padding-right: 90px;
  }
  .stepform-item__link:before {
    width: 80px;
  }
  .room {
    max-width: 95%;
  }
  .room-pict {
    width: 45%;
  }
  .room-main {
    width: 55%;
  }
  .login-modal__linkback {
    margin-bottom: 10vh;
  }
  .login-modal__title {
    font-size: 50px;
  }
  /*--------------Project page--------------*/
  .project-main-desc {
    float: none;
    width: 100%;
    padding-right: 0;
  }
  .project-main__link {
    margin-top: 20px;
  }
  .project-sidebar {
    float: none;
    width: 100%;
  }
  .project-loc {
    float: left;
    width: 25%;
    margin-bottom: 15px;
    padding-right: 20px;
  }
  .project-loc__desc {
    font-size: 16px;
  }
  .project-adv {
    margin-top: 0;
    clear: both;
  }
  /*-----------end project page-------------*/
  /*--------------About page--------------*/
  .aboutmain-block {
    max-width: 570px;
  }
  .about-item-main {
    padding-left: 30px;
  }
  /*-----------end about page-------------*/
  /*--------------House page--------------*/
  .house-table tbody td {
    padding: 3px;
  }
  .house-table tbody td:first-child {
    font-size: 14px;
  }
  .house-table tbody td a {
    width: 30px;
    height: 25px;
    font-size: 16px;
  }
  .house-gallery__cl {
    max-width: 1170px;
  }
  /*-----------end house page-------------*/
  /*-------------------Lk page------------------*/
  .sidenav-nav {
    margin-top: 25px;
  }
  .sidenav-submenu {
    padding-top: 76px;
  }
  .object__pict {
    height: 185px;
  }
  /*-----------------end Lk page----------------*/
  /*-------------------Lk_users page------------------*/
  .table-wrap table td {
    padding-left: 5px;
  }
  /*-----------------end Lk_users page----------------*/
  /*-------------------lk_obj page------------------*/
  .objects-table {
    border-spacing: 8px;
  }
  /*-----------------end lk_obj page----------------*/
  /*-------------------lk_chart_stat page------------------*/
  .filter-sales .jq-selectbox {
    max-width: 23.5%;
  }
  .chart-wrap {
    height: auto !important;
  }
  /*-----------------end lk_chart_stat page----------------*/
}

@media only screen and (max-width: 1200px) {
  .adv-top__subtitle {
    display: block;
  }
  .adv-item {
    height: 270px;
  }
  .adv-item__title {
    font-size: 24px;
  }
  .section-title {
    font-size: 58px;
    letter-spacing: 0;
  }
  .section-title_wide {
    letter-spacing: 0;
  }
  .apart-item_big .apart-item__pict {
    height: 498px;
  }
  .apart-item_small .apart-item__pict {
    height: 200px;
  }
  .btn {
    letter-spacing: 0;
  }
  .btn_arrow i {
    display: none;
  }
  .apart-filter-item_room {
    width: 18%;
  }
  .apart-filter-item_loc, .apart-filter-item_time {
    width: 16%;
  }
  .apart-filter-item_btn {
    width: 25.2%;
  }
  .step-item {
    width: 20%;
  }
  .step-item_pict {
    display: none;
  }
  .step-item__title {
    font-size: 16px;
  }
  .stepform-item__title {
    float: none;
    width: 100%;
    margin-bottom: 18px;
  }
  .stepform-item__main {
    display: block;
    width: 100%;
    padding-top: 0;
  }
  .stepform-item label {
    margin-bottom: 10px;
  }
  .stepform-item__link {
    font-size: 22px;
    letter-spacing: 0;
  }
  .cat-item {
    height: 400px;
  }
  .cat-item__title {
    left: 15px;
    font-size: 24px;
  }
  .order-main {
    padding: 25px 15px 30px;
  }
  .order-main__title {
    letter-spacing: 0.1em;
  }
  .order-main__link {
    left: 15px;
    padding-right: 90px;
    font-size: 22px;
    letter-spacing: 0;
  }
  .order-main__link:after {
    width: 80px;
  }
  .footer-item_logo {
    width: 11.2%;
  }
  .footer-item_nav {
    width: 22.2%;
  }
  .footer-item_social {
    float: none;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .footer-copyright {
    display: none;
  }
  .footer-copyright_mob {
    display: block;
    margin-top: 12px;
    text-align: center;
  }
  .footer-phone {
    font-size: 20px;
  }
  .footer-menu li a {
    font-size: 18px;
    letter-spacing: 0;
  }
  .footer-social {
    margin-top: 30px;
  }
  .footer-social__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0;
  }
  .page-title {
    font-size: 58px;
  }
  .room {
    max-width: 100%;
  }
  .room-pict {
    width: 40%;
  }
  .room-main {
    width: 60%;
  }
  .room-tabnav li a {
    font-size: 16px;
  }
  .room-tabform {
    padding-right: 0;
  }
  .login-modal .col:first-child {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .login-modal-main {
    margin-top: 0;
    padding-right: 30px;
  }
  .login-modal__linkback {
    margin-bottom: 5vh;
    font-size: 20px;
  }
  .login-modal__linkback:before {
    top: 9px;
  }
  .login-modal__caption {
    padding-left: 8%;
  }
  .login-modal__accent {
    font-size: 20px;
  }
  .login-modal__title {
    margin-bottom: 20px;
    font-size: 40px;
  }
  /*--------------Contact page--------------*/
  .contact-item__title {
    font-size: 20px;
  }
  .contact-item__phone {
    margin-right: 20px;
    font-size: 24px;
  }
  .contact-item__mes {
    margin-right: 15px;
    width: 40px;
    height: 40px;
  }
  /*-----------end contact page-------------*/
  /*--------------Project page--------------*/
  .project-item {
    display: block;
    margin-bottom: 50px;
  }
  .project-pict {
    display: block;
    width: 100%;
    height: 350px;
  }
  .project-pict img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .project-main {
    position: static;
    display: block;
    width: 100%;
    padding: 15px 0 0;
  }
  .project-main__stick {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 2;
  }
  .project-main__link {
    position: relative;
    left: 0;
  }
  /*-----------end project page-------------*/
  /*--------------About page--------------*/
  .aboutmain .col {
    height: 570px;
  }
  .aboutmain-block {
    max-width: 470px;
  }
  .aboutmain-block__title {
    font-size: 58px;
  }
  .aboutmain-block__subtitle {
    margin-bottom: 20px;
  }
  .aboutmain-block__list {
    margin-bottom: 20px;
  }
  .aboutmain-block__text {
    margin-bottom: 20px;
  }
  .aboutmain-block__link {
    font-size: 19px;
  }
  .about-item {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .about-item-main {
    padding-bottom: 60px;
  }
  .about-item__title {
    margin-bottom: 10px;
  }
  .about-item__list {
    margin-bottom: 10px;
  }
  .about-item__btn {
    max-width: 380px;
    height: 45px;
    font-size: 19px;
    line-height: 43px;
  }
  .about-desc__title {
    font-size: 58px;
  }
  .about-foritem__title {
    font-size: 58px;
  }
  /*-----------end about page-------------*/
  /*--------------House page--------------*/
  .section-housemain .container {
    height: 500px;
  }
  .housemain__title {
    margin-bottom: 30px;
    font-size: 58px;
  }
  .housemain__btn {
    height: 54px;
    font-size: 22px;
    line-height: 52px;
  }
  .house-table tbody td {
    padding: 2px;
  }
  .house-table tbody td a {
    width: 25px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
  }
  .house-plan__title {
    font-size: 58px;
  }
  .house-plan-tabs__item {
    margin-right: 35px;
  }
  .house-gallery__title {
    font-size: 58px;
  }
  .house-gallery__cl {
    max-width: 970px;
  }
  .house-progress__title {
    font-size: 58px;
  }
  /*-----------end house page-------------*/
  /*-------------------Lk page------------------*/
  .objects .col {
    width: 33.33%;
  }
  .object__pict {
    height: 185px;
  }
  /*-----------------end Lk page----------------*/
  /*-------------------Lk_users page------------------*/
  .bottom-form input {
    padding-left: 10px;
  }
  .bottom-form .jq-selectbox__select {
    padding-left: 10px;
  }
  .bottom-form__btn {
    max-width: 280px;
    padding-left: 25px;
  }
  .bottom-form__btn i {
    width: 110px;
    height: 15px;
  }
  /*-----------------end Lk_users page----------------*/
  /*-------------------lk_sales_stat page------------------*/
  .sales-item__num {
    font-size: 46px;
  }
  .sales-item-list li {
    font-size: 16px;
  }
  .sales-stat-item {
    font-size: 16px;
  }
  /*-----------------end lk_sales_stat page----------------*/
  /*-------------------lk_obj page------------------*/
  .objects-head-main__title {
    margin-bottom: 15px;
  }
  .objects-head-status__title {
    margin-bottom: 18px;
  }
  /*-----------------end lk_obj page----------------*/
  /*-------------------lk_chart_stat page------------------*/
  .filter-sales .jq-selectbox {
    max-width: 25.5%;
  }
  .filter-sales .filter-btn {
    max-width: 250px;
  }
  /*-----------------end lk_chart_stat page----------------*/
}

@media only screen and (max-width: 992px) {
  .header-mainmenu li {
    margin-right: 7px;
  }
  .header-mainmenu li a {
    font-size: 12px;
    letter-spacing: 0;
  }
  .header-logo {
    margin-left: 10px;
  }
  .header-secmenu {
    display: none;
    margin: 0 30px 0 0;
  }
  .header-secmenu_mob {
    display: inline-block;
    vertical-align: top;
  }
  .header-secmenu li {
    display: block;
    margin: 0 0 10px;
  }
  .header-secmenu li a {
    font-size: 15px;
    letter-spacing: 0;
  }
  .adv-top__title {
    padding-left: 38px;
    font-size: 20px;
    letter-spacing: 0.1em;
  }
  .adv-top__subtitle {
    font-size: 20px;
  }
  .adv-top__link {
    font-size: 20px;
    letter-spacing: 0;
  }
  .adv-main {
    padding: 15px 0;
  }
  .adv-item {
    min-height: 360px;
    height: auto;
    padding-bottom: 100px;
  }
  .adv-item__text {
    padding-right: 0;
  }
  .section-apart {
    padding: 20px 0;
  }
  .section-title {
    font-size: 42px;
  }
  .section-subtitle {
    font-size: 20px;
  }
  .apart-filter-item {
    width: 25%;
  }
  .apart-filter-item_btn {
    width: 100%;
    text-align: center;
  }
  .apart-main > .row > .col {
    width: 50%;
  }
  .apart-main > .row > .col:last-child {
    width: 100%;
  }
  .apart-main > .row > .col .col {
    width: 50%;
  }
  .apart-item {
    margin-bottom: 14px;
  }
  .apart-item_big .apart-item__pict, .apart-item_small .apart-item__pict {
    height: 185px;
  }
  .apart-item__main {
    padding: 10px 15px 10px;
  }
  .apart-item__pict img {
    max-width: 100%;
    max-height: none;
  }
  .apart-item__loc {
    font-size: 20px;
  }
  .apart-btn {
    margin-top: 15px;
  }
  .section-step {
    padding: 20px 0;
  }
  .step {
    padding: 12px 0 15px;
  }
  .step .row {
    font-size: 0;
  }
  .step-item {
    float: none;
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    margin-bottom: 15px;
  }
  .step-item_pict {
    display: none;
  }
  .step-item__num {
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 48px;
  }
  .step-item__title {
    min-height: 38px;
  }
  .stepform__title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .stepform__text {
    font-size: 20px;
  }
  .stepform-item__title {
    font-size: 20px;
  }
  .stepform-item label {
    font-size: 20px;
  }
  .stepform-item-count {
    margin-right: 12px;
    font-size: 16px;
  }
  .stepform-item-count__current {
    font-size: 18px;
  }
  .stepform-item__link {
    padding-right: 55px;
    font-size: 18px;
  }
  .stepform-item__link:before {
    width: 45px;
  }
  .stepform-item__btn {
    width: 238px;
  }
  .cat-item {
    height: 300px;
  }
  .cat-item__title {
    font-size: 20px;
  }
  .order {
    height: 250px;
  }
  .order-main {
    padding: 15px;
  }
  .order-main__title {
    font-size: 20px;
    letter-spacing: 0;
  }
  .order-main__link {
    font-size: 20px;
  }
  .footer {
    text-align: center;
  }
  .footer-item {
    float: none;
    width: 100%;
  }
  .footer-item_nav:after {
    display: none;
  }
  .footer-logo {
    margin-bottom: 20px;
  }
  .footer-phone {
    margin-bottom: 20px;
  }
  .footer-menu {
    margin-bottom: 20px;
  }
  .footer-login {
    position: relative;
  }
  .page-title {
    font-size: 42px;
  }
  .room-pict {
    float: none;
    width: 100%;
  }
  .room-main {
    float: none;
    width: 100%;
  }
  .room-tabnav li a {
    font-size: 18px;
  }
  .login-modal .row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .login-modal .col {
    width: 100%;
    height: 30%;
    min-height: 280px;
  }
  .login-modal .col:first-child {
    height: 70%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .login-modal-main {
    margin-top: 3vh;
    padding-right: 0;
  }
  .login-modal__linkback {
    margin-bottom: 3vh;
    font-size: 18px;
  }
  .login-modal__linkback:before {
    top: 8px;
  }
  .login-modal-form {
    padding: 20px 20px;
  }
  .login-modal-form__logo {
    width: 110px;
    margin-bottom: 15px;
  }
  .login-modal-form__title {
    margin-bottom: 15px;
    font-size: 24px;
  }
  .login-modal-form__subtitle {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .login-modal-form input {
    margin-bottom: 10px;
  }
  .login-modal__caption {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .login-modal__accent {
    margin-bottom: 12px;
    font-size: 20px;
  }
  .login-modal__title {
    margin-bottom: 12px;
    font-size: 30px;
  }
  /*--------------Contact page--------------*/
  .contact {
    padding-bottom: 10px;
  }
  .contact-item__title {
    padding-left: 30px;
    font-size: 18px;
  }
  .contact-item__title:before {
    top: -3px;
  }
  .contact-item__phone {
    margin-right: 15px;
    font-size: 22px;
  }
  .contact-item__mes {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
  .contact-item__text {
    font-size: 16px;
  }
  .contact-item__text ul {
    margin-bottom: 12px;
  }
  .contact-map {
    height: 400px;
  }
  .contact-text {
    font-size: 16px;
  }
  /*-----------end contact page-------------*/
  /*--------------Project page--------------*/
  .project {
    padding-top: 0;
  }
  .project-item {
    margin-bottom: 30px;
  }
  .project-pict {
    height: 300px;
  }
  .project-main__stick {
    min-width: 150px;
    padding: 4px 10px 6px;
    font-size: 28px;
  }
  .project-main__link {
    font-size: 22px;
  }
  /*-----------end project page-------------*/
  /*--------------About page--------------*/
  .aboutmain {
    position: relative;
    background: url(../images/about-bg.jpg) center top no-repeat;
    background-size: cover;
  }
  .aboutmain:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
  }
  .aboutmain .col {
    float: none;
    width: 100%;
    height: auto;
    z-index: 2;
  }
  .aboutmain .col:last-child {
    display: none;
  }
  .aboutmain-block {
    position: relative;
    top: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    max-width: 750px;
    margin: 0 auto;
    padding: 50px 15px;
  }
  .aboutmain-block__title {
    font-size: 42px;
  }
  .aboutmain-block__text br {
    display: none;
  }
  .aboutmain-block__link {
    font-size: 19px;
  }
  .aboutmain-pict:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
  }
  .section-about {
    padding-top: 25px;
  }
  .about {
    padding: 0;
  }
  .about-item__list li {
    margin-bottom: 7px;
  }
  .about-item__btn {
    max-width: 320px;
    font-size: 18px;
  }
  .about-desc__title {
    font-size: 42px;
  }
  .about-foritem__title {
    font-size: 42px;
  }
  /*-----------end about page-------------*/
  /*--------------House page--------------*/
  .section-housemain .container {
    height: 400px;
  }
  .housemain__title {
    margin-bottom: 20px;
    font-size: 42px;
  }
  .housemain__btn {
    height: 45px;
    font-size: 20px;
    line-height: 43px;
  }
  .section-house {
    padding-top: 30px;
  }
  .house-sale {
    padding-bottom: 40px;
  }
  .house-sale .col {
    width: 33.33%;
  }
  .house-table {
    margin-bottom: 20px;
  }
  .house-table tbody td {
    padding: 5px;
  }
  .house-table tbody td a {
    width: 31px;
    height: 26px;
    font-size: 16px;
    line-height: 26px;
  }
  .house-filter__title {
    font-size: 16px;
  }
  .house-filter__check {
    font-size: 16px;
  }
  .house-plan__title {
    font-size: 42px;
  }
  .house-plan-tabs__item {
    margin-right: 20px;
    font-size: 16px;
  }
  .house-gallery {
    padding-bottom: 40px;
  }
  .house-gallery__title {
    margin-bottom: 30px;
    font-size: 42px;
  }
  .house-gallery__cl {
    max-width: 750px;
  }
  .house-progress__title {
    margin-bottom: 30px;
    font-size: 42px;
  }
  .house-progress .col {
    width: 50%;
  }
  .house-progress__item {
    margin-bottom: 20px;
  }
  /*-----------end house page-------------*/
  /*-------------------Lk page------------------*/
  .sidenav {
    padding: 10px 0;
  }
  .sidenav__backlink {
    font-size: 15px;
  }
  .sidenav__backlink:before {
    top: 6px;
  }
  .sidenav-menu li {
    text-align: left;
  }
  .sidenav-menu > li {
    position: relative;
  }
  .sidenav-menu > li > span {
    position: absolute;
    display: block;
    top: 11px;
    right: 15px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }
  .sidenav-menu > li > span:before, .sidenav-menu > li > span:after {
    content: '';
    position: absolute;
    background: #E30613;
  }
  .sidenav-menu > li > span:before {
    top: 7px;
    left: 0;
    width: 100%;
    height: 2px;
  }
  .sidenav-menu > li > span:after {
    top: 0;
    left: 7px;
    width: 2px;
    height: 100%;
  }
  .sidenav-menu > li > span:hover:before, .sidenav-menu > li > span:hover:after, .sidenav-menu > li > span.active:before, .sidenav-menu > li > span.active:after {
    background: #08A356;
  }
  .sidenav-menu > li > span.active {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .sidenav-menu > li > span.active:before {
    opacity: 0;
  }
  .sidenav-menu > li a {
    display: inline-block;
    padding: 10px 35px 10px 44px;
    font-size: 15px;
  }
  .sidenav-menu > li a i {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 22px;
    height: 23px;
  }
  .sidenav-submenu {
    position: relative;
    left: 0;
    width: 100%;
    padding: 10px 0 20px;
    background: #FBFBFB;
  }
  .sidenav-submenu li:not(:last-child) {
    border-bottom: none;
  }
  .sidenav-submenu li a {
    padding-right: 15px;
  }
  .header-logo-lk {
    margin-left: 0;
  }
  .header-description:before {
    top: -7px;
    height: 36px;
  }
  .header-account {
    margin-top: -10px;
  }
  .header-account__profile {
    height: 40px;
    vertical-align: middle;
    padding-left: 40px;
    font-size: 0;
  }
  .header-account__profile:before {
    top: 0;
    width: 40px;
    height: 40px;
  }
  .header-account__logout {
    width: 32px;
    height: 32px;
  }
  .header-account__logout:before {
    height: 36px;
  }
  .menu-lk {
    top: 50px;
  }
  .object__title {
    font-size: 15px;
  }
  .object__pict {
    height: 156px;
  }
  .object__num, .object__status {
    min-width: 70px;
    font-size: 18px;
  }
  .object__status {
    top: 76px;
  }
  .object__btn {
    width: 205px;
    font-size: 15px;
  }
  /*-----------------end Lk page----------------*/
  /*-------------------Lk_users page------------------*/
  .section-users {
    padding-bottom: 60px;
  }
  .page-title {
    margin-bottom: 28px;
  }
  .table-wrap {
    margin: 40px 0;
  }
  .table-wrap table th {
    font-size: 12px;
  }
  .table-wrap table td {
    padding: 5px;
    font-size: 12px;
  }
  .table-wrap table td:first-child {
    padding: 0 2px;
  }
  .table-wrap table td:last-child {
    padding: 0 4px;
  }
  .table-edit {
    width: 18px;
    height: 18px;
  }
  .bottom-form__title {
    font-size: 15px;
  }
  .bottom-form-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .bottom-form-fields {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .bottom-form__in {
    margin-bottom: 10px;
    padding-right: 10px;
  }
  .bottom-form__in:nth-child(3n) {
    padding-right: 0;
  }
  .bottom-form .jq-selectbox {
    margin-bottom: 10px;
    padding-right: 0;
  }
  .bottom-form__btn {
    max-width: 100%;
    height: 51px;
    padding-left: 0;
    text-align: center;
  }
  .bottom-form__btn br {
    display: none;
  }
  .bottom-form__btn i {
    top: 2px;
  }
  /*-----------------end Lk_users page----------------*/
  /*-------------------lk_agency_stat page------------------*/
  .section-stat {
    padding-bottom: 30px;
  }
  .filter-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .filter-in {
    width: 50%;
  }
  .filter .jq-selectbox {
    width: 50%;
    padding-right: 0;
  }
  .filter-btn {
    max-width: 100%;
    margin-top: 16px;
  }
  .filter-btn i {
    display: inline-block;
    width: 60px;
    top: 1px;
  }
  /*-----------------end lk_agency_stat page----------------*/
  /*-------------------lk_sales_stat page------------------*/
  .sales {
    padding-bottom: 40px;
  }
  .sales-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .sales-item {
    width: 33.33%;
    margin-bottom: 30px;
  }
  .sales-item__num {
    font-size: 46px;
  }
  .sales-item-list li {
    font-size: 16px;
  }
  .sales-link {
    display: none;
  }
  .sales-inlink {
    display: inline-block;
    margin-top: 40px;
  }
  .sales-stat-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .sales-stat-item {
    width: 50%;
    margin-bottom: 30px;
    font-size: 16px;
  }
  /*-----------------end lk_sales_stat page----------------*/
  /*-------------------lk_obj page------------------*/
  .objects-head {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .objects-head-pict {
    height: auto;
  }
  .objects-head-pict__num, .objects-head-pict__status {
    min-width: 70px;
    font-size: 18px;
  }
  .objects-head-pict__status {
    top: 76px;
  }
  .objects-head-main {
    width: 70%;
    padding: 20px 30px 0 0;
  }
  .objects-head-status {
    min-width: 30%;
    padding-top: 18px;
  }
  /*-----------------end lk_obj page----------------*/
  /*-------------------lk_chart_stat page------------------*/
  .filter-sales .filter-in {
    width: 33.33%;
  }
  .filter-sales .filter-in:after {
    margin-top: -8px;
  }
  .filter-sales .jq-selectbox {
    max-width: 33.33%;
    margin-bottom: 16px;
    padding-right: 16px;
  }
  .filter-sales .jq-selectbox:last-of-type {
    padding-right: 0;
  }
  .filter-sales .filter-btn {
    max-width: 100%;
    margin-top: 0;
  }
  .month-stat .filter-wrap {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .month-stat .filter-btn {
    max-width: 50%;
    margin-top: 0;
  }
  /*-----------------end lk_chart_stat page----------------*/
}

@media only screen and (max-width: 768px) {
  .header-mainmenu {
    display: none;
  }
  .header-nav {
    left: 0;
    right: 0;
    padding: 20px 0 20px;
  }
  .header-nav .container {
    width: 100%;
  }
  .section-main {
    height: 250px;
  }
  .main-desc {
    bottom: 60px;
  }
  .main-desc__title {
    font-size: 42px;
  }
  .adv-top__title {
    max-width: 60%;
    font-size: 18px;
  }
  .adv-top__subtitle {
    font-size: 16px;
  }
  .adv-top__link {
    padding-right: 45px;
    font-size: 16px;
  }
  .adv-top__link:after {
    width: 40px;
  }
  .adv-main {
    padding: 0;
  }
  .adv-main .col {
    float: none;
    width: 100%;
  }
  .adv-item {
    min-height: auto;
    margin-bottom: 14px;
  }
  .adv-item__title {
    font-size: 20px;
  }
  .section-title {
    margin-bottom: 5px;
    font-size: 28px;
  }
  .section-subtitle {
    font-size: 16px;
    letter-spacing: 0.1em;
  }
  .section-apart {
    padding: 10px 0;
  }
  .apart-filter {
    padding-bottom: 5px;
  }
  .apart-filter-item {
    width: 50%;
    margin-bottom: 15px;
  }
  .apart-filter-item_btn {
    width: 100%;
    padding-top: 5px;
  }
  .apart-item_big .apart-item__pict, .apart-item_small .apart-item__pict {
    height: 148px;
  }
  .apart-item__stick {
    top: 30px;
    min-width: 95px;
    padding: 2px 8px 5px;
    font-size: 18px;
  }
  .apart-item__main {
    padding: 10px 10px 10px;
  }
  .apart-item__loc {
    font-size: 16px;
  }
  .apart-item__desc {
    font-size: 14px;
  }
  .apart-btn {
    margin-top: 5px;
  }
  .btn_size2 {
    max-width: 370px;
    height: 36px;
    font-size: 18px;
    line-height: 34px;
  }
  .stepform {
    padding-bottom: 0;
  }
  .stepform__title {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .stepform__text {
    font-size: 16px;
  }
  .stepform-cl {
    margin-top: 20px;
  }
  .stepform-item {
    height: 315px;
    padding: 12px 10px 60px;
  }
  .stepform-item__title {
    font-size: 18px;
    line-height: 1.2;
  }
  .stepform-item label {
    font-size: 16px;
  }
  .stepform-item .jq-radio {
    width: 20px;
    height: 20px;
    margin-right: 7px;
    border-width: 2px;
  }
  .stepform-item .jq-radio.focused {
    border-width: 2px;
  }
  .stepform-item .jq-radio.checked .jq-radio__div {
    width: 18px;
    height: 18px;
    margin: -1px 0 0 -1px;
    border-width: 2px;
  }
  .stepform-item__bottom {
    bottom: 12px;
    padding-left: 10px;
  }
  .stepform-item-count {
    display: block;
    margin: 0 0 10px;
  }
  .stepform-nav {
    margin-top: 20px;
  }
  .section-cat {
    padding: 20px 0;
  }
  .cat-item {
    height: 250px;
  }
  .cat-item__title {
    font-size: 18px;
  }
  .section-order {
    padding-bottom: 15px;
  }
  .order-main {
    padding: 15px 10px;
  }
  .order-main__title {
    font-size: 18px;
  }
  .order-main__link {
    padding-right: 45px;
    bottom: 15px;
    left: 10px;
    font-size: 18px;
  }
  .order-main__link:after {
    width: 40px;
  }
  .order-pict img {
    max-height: 100%;
  }
  .footer-phone {
    margin-bottom: 15px;
  }
  .footer-menu li {
    margin-bottom: 5px;
  }
  .footer-menu li a {
    font-size: 16px;
  }
  .footer-menu ul {
    margin-top: 5px;
  }
  .page-title {
    font-size: 28px;
  }
  .room-pict img {
    max-height: 300px;
  }
  .room-floor {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 20px;
  }
  .room-pr {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .room-pr li {
    font-size: 20px;
  }
  .room-price {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .room-tabnav li {
    margin-right: 10px;
  }
  .room-tabnav li a {
    padding-bottom: 10px;
    font-size: 16px;
  }
  .login-modal {
    height: 100%;
  }
  .login-modal .col {
    width: 100%;
    height: 30%;
    min-height: auto;
  }
  .login-modal .col:first-child {
    height: 70%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .login-modal-main {
    margin-top: 0;
    padding: 20px 0 40px;
  }
  .login-modal__linkback {
    margin-bottom: 15px;
    padding-left: 50px;
    font-size: 12px;
  }
  .login-modal__linkback:before {
    top: 5px;
    width: 40px;
  }
  .login-modal-form {
    padding: 20px 20px;
  }
  .login-modal-form__logo {
    width: 110px;
    margin-bottom: 15px;
  }
  .login-modal-form__title {
    margin-bottom: 12px;
    font-size: 22px;
  }
  .login-modal-form__subtitle {
    font-size: 14px;
  }
  .login-modal-form input {
    margin-bottom: 10px;
  }
  .login-modal-pict {
    padding: 40px 0 20px;
  }
  .login-modal__accent {
    font-size: 18px;
  }
  .login-modal__title {
    margin-bottom: 10px;
    font-size: 22px;
  }
  .login-modal__text {
    font-size: 16px;
  }
  /*--------------Contact page--------------*/
  .contact {
    padding-bottom: 10px;
  }
  .contact-block {
    float: none;
    width: 100%;
    margin-bottom: 20px;
  }
  .contact-item {
    margin-bottom: 20px;
  }
  /*-----------end contact page-------------*/
  /*--------------Project page--------------*/
  .project-pict {
    height: 280px;
  }
  .project-main__list {
    margin-bottom: 10px;
  }
  .project-main__list li a {
    font-size: 16px;
  }
  .project-main__text {
    font-size: 16px;
  }
  .project-main__link {
    margin-top: 10px;
    font-size: 20px;
  }
  .project-sidebar__title {
    margin-bottom: 12px;
  }
  .project-loc__link {
    font-size: 16px;
  }
  /*-----------end project page-------------*/
  /*--------------About page--------------*/
  .aboutmain-block__title {
    font-size: 28px;
  }
  .aboutmain-block__subtitle {
    margin-bottom: 12px;
  }
  .aboutmain-block__list {
    margin-bottom: 12px;
  }
  .aboutmain-block__list li a {
    font-size: 16px;
  }
  .aboutmain-block__text {
    font-size: 16px;
  }
  .aboutmain-block__link {
    padding-right: 70px;
    font-size: 16px;
  }
  .aboutmain-block__link:before {
    top: 6px;
    width: 50px;
  }
  .about-item {
    display: block;
  }
  .about-item-pict {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
  .about-item__progressbar {
    font-size: 10px;
  }
  .about-item-main {
    display: block;
    width: 100%;
    padding: 0;
  }
  .about-item__text {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .about-item__btn {
    position: relative;
    height: 36px;
    font-size: 16px;
    line-height: 34px;
  }
  .about-desc {
    padding-bottom: 30px;
  }
  .about-desc__title {
    font-size: 28px;
  }
  .about-desc__text {
    font-size: 16px;
  }
  .about-desc__map {
    height: 370px;
  }
  .about-for {
    padding-bottom: 10px;
  }
  .about-for .col {
    float: none;
    width: 100%;
  }
  .about-foritem {
    padding-bottom: 30px;
  }
  .about-foritem__title {
    font-size: 28px;
  }
  .about-foritem__text {
    font-size: 16px;
  }
  /*-----------end about page-------------*/
  /*--------------House page--------------*/
  .section-housemain .container {
    height: 300px;
  }
  .housemain__title {
    margin-bottom: 15px;
    font-size: 28px;
  }
  .housemain__btn {
    max-width: 300px;
    font-size: 18px;
  }
  .house-table thead td {
    padding-bottom: 10px;
  }
  .house-table tbody td {
    padding: 2px;
  }
  .house-table tbody td a {
    width: 27px;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
  }
  .house-filter__title {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .house-filter__check {
    font-size: 14px;
  }
  .house-filter__check .jq-checkbox {
    width: 27px;
    height: 22px;
  }
  .house-filter__check .jq-checkbox.checked .jq-checkbox__div {
    margin: 0 0 0 2px;
  }
  .house-plan__title {
    font-size: 28px;
  }
  .house-plan-tabs {
    margin-bottom: 20px;
  }
  .house-plan-tabs__item {
    margin: 0 20px 10px 0;
  }
  .house-gallery {
    padding-bottom: 30px;
  }
  .house-gallery__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  .house-gallery__cl {
    max-width: 576px;
  }
  .house-gallery__cl .cl-item {
    height: 220px;
  }
  .house-gallery__pict {
    height: 220px;
  }
  .house-progress__title {
    margin-bottom: 20px;
    font-size: 28px;
  }
  /*-----------end house page-------------*/
  /*-------------------Lk page------------------*/
  .header-description {
    margin-left: 20px;
    font-size: 16px;
  }
  .header-description:before {
    left: -11px;
  }
  .objects .col {
    width: 50%;
  }
  .object__pict {
    height: auto;
    max-height: 321px;
  }
  /*-----------------end Lk page----------------*/
  /*-------------------Lk_users page------------------*/
  .section-users {
    padding-bottom: 30px;
  }
  .table-wrap table th {
    font-size: 10px;
  }
  .table-wrap table td {
    font-size: 10px;
  }
  .table-edit {
    width: 16px;
    height: 16px;
  }
  .bottom-form__in {
    width: 50%;
  }
  .bottom-form__in:nth-child(2n) {
    padding-right: 0;
  }
  .bottom-form__in:nth-child(3n) {
    padding-right: 10px;
  }
  .bottom-form__in:last-of-type {
    padding-right: 0;
  }
  .bottom-form .jq-selectbox {
    width: 50%;
  }
  .edit-modal {
    max-width: 500px;
    padding: 40px 30px;
  }
  /*-----------------end Lk_users page----------------*/
  /*-------------------lk_sales_stat page------------------*/
  .sales {
    padding-bottom: 30px;
  }
  .sales-item {
    width: 50%;
  }
  .sales-inlink {
    margin-top: 30px;
  }
  .sales-stat__title {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .sales-stat-row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .sales-stat-item {
    width: 50%;
    margin-bottom: 30px;
    font-size: 16px;
  }
  /*-----------------end lk_sales_stat page----------------*/
  /*-------------------lk_obj page------------------*/
  .objects-head-main {
    width: 100%;
    padding-right: 0;
  }
  .objects-head-status {
    min-width: 100%;
  }
  .objects-table {
    border-spacing: 5px;
  }
  .objects-bottom__in input {
    padding-left: 10px;
  }
  /*-----------------end lk_obj page----------------*/
  /*-------------------lk_chart_stat page------------------*/
  .second-title {
    font-size: 16px;
  }
  .filter-sales .filter-in {
    width: 36%;
  }
  .filter-sales .filter-in:after {
    margin-top: -8px;
  }
  .filter-sales .jq-selectbox {
    max-width: 32%;
    margin-bottom: 16px;
    padding-right: 16px;
  }
  .filter-sales .jq-selectbox:last-of-type {
    padding-right: 0;
  }
  .total-item__title {
    min-width: 18px;
    margin-top: 3px;
    font-size: 12px;
  }
  .total-item-line {
    height: 20px;
  }
  .total-item-line__start {
    top: 4px;
    font-size: 12px;
  }
  .total-item-line__main span {
    top: 4px;
    font-size: 12px;
  }
  .total-item__end {
    min-width: 87px;
    margin-top: 3px;
    padding-left: 3px;
    font-size: 12px;
  }
  .month-stat {
    padding-bottom: 0;
  }
  /*-----------------end lk_chart_stat page----------------*/
}

@media only screen and (max-width: 575px) {
  .menu-mob {
    position: absolute;
    float: none;
    top: 10px;
    left: 15px;
  }
  .header-top {
    padding: 0;
    background: none;
  }
  .header-login {
    padding-top: 7px;
  }
  .header-login__link {
    display: block;
    width: 25px;
    height: 25px;
    font-size: 0;
    background: url(../images/login2.png) 0 0 no-repeat;
    background-size: 100%;
  }
  .header-logo {
    float: none;
    display: table;
    margin: 0 auto 15px;
  }
  .header-contact {
    float: none;
    text-align: center;
  }
  .header-secmenu_mob {
    width: 49%;
    margin: 0;
    padding-right: 15px;
  }
  .header-menu {
    width: 49%;
    -webkit-columns: 1;
       -moz-columns: 1;
            columns: 1;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
  .main-desc__title {
    padding: 2px 10px 6px 10px;
    font-size: 28px;
  }
  .adv-top__title {
    max-width: 100%;
  }
  .adv-top__link {
    float: none;
    display: table;
    margin: 10px 0 0 38px;
  }
  .apart-item_big .apart-item__pict, .apart-item_small .apart-item__pict {
    height: 120px;
  }
  .step-item {
    width: 50%;
  }
  .step-item__desc {
    font-size: 16px;
  }
  .section-cat {
    padding-bottom: 10px;
  }
  .cat .col {
    width: 50%;
  }
  .cat-item {
    margin-bottom: 14px;
  }
  .section-order {
    padding-top: 10px;
  }
  .order {
    height: auto;
  }
  .order-main {
    float: none;
    width: 100%;
  }
  .order-main__title {
    margin-bottom: 30px;
  }
  .order-main__title br {
    display: none;
  }
  .order-main__link {
    position: relative;
    bottom: 0;
    left: 0;
  }
  .order-pict {
    float: none;
    width: 100%;
    height: 150px;
  }
  .order-pict img {
    max-height: none;
  }
  .room {
    padding: 30px 20px;
  }
  .room-tabnav li {
    display: block;
    margin: 0 0 10px;
  }
  .room-tabnav li a {
    padding-bottom: 10px;
    font-size: 18px;
  }
  .room-tabtext {
    float: none;
    width: 100%;
    padding: 0 0 20px;
  }
  .room-tabform {
    float: none;
    width: 100%;
  }
  .login-modal-main {
    width: 100%;
    padding: 20px 15px 30px;
  }
  .login-modal-form {
    width: 100%;
    padding: 15px 10px 20px;
  }
  .login-modal-form__title {
    font-size: 20px;
  }
  .login-modal-form__subtitle {
    font-size: 12px;
  }
  .login-modal__accent {
    font-size: 16px;
  }
  .login-modal__title {
    font-size: 20px;
  }
  .login-modal__text {
    font-size: 14px;
  }
  /*--------------Contact page--------------*/
  .contact-map {
    height: 300px;
  }
  /*-----------end contact page-------------*/
  /*--------------Project page--------------*/
  .project-pict {
    height: auto;
    max-height: 300px;
  }
  .project-pict img {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .project-main__stick {
    min-width: 120px;
    font-size: 22px;
  }
  .project-main__link {
    font-size: 18px;
  }
  .project-loc {
    width: 50%;
  }
  /*-----------end project page-------------*/
  /*--------------House page--------------*/
  .section-housemain .container {
    height: 250px;
  }
  .housemain__btn {
    max-width: 280px;
    font-size: 16px;
  }
  .house-sale .col {
    width: 50%;
  }
  .house-table thead td {
    font-size: 16px;
  }
  .house-table tbody td {
    padding: 5px;
  }
  .house-table tbody td a {
    width: 31px;
    height: 26px;
    font-size: 16px;
    line-height: 26px;
  }
  .house-filter__check {
    margin-bottom: 10px;
    padding-right: 5px;
  }
  .house-filter__check .jq-checkbox {
    width: 22px;
    height: 18px;
  }
  .house-filter__check .jq-checkbox.checked .jq-checkbox__div {
    width: 18px;
    height: 16px;
    margin: 0 0 0 1px;
  }
  .house-plan {
    padding-bottom: 25px;
  }
  .house-plan__title {
    font-size: 28px;
  }
  .house-plan-tabs__item {
    width: 49%;
    margin: 0 0 10px;
  }
  .house-plan-main {
    margin-bottom: 20px;
  }
  .house-progress__data {
    font-size: 16px;
  }
  /*-----------end house page-------------*/
  /*-------------------Lk page------------------*/
  .header-main-lk {
    padding: 14px 0 30px;
  }
  .menu-lk {
    top: 50px;
    left: auto;
  }
  .header-account {
    float: none;
    text-align: right;
  }
  .header-account__profile {
    height: 32px;
  }
  .header-account__profile:before {
    width: 32px;
    height: 32px;
  }
  .header-account__logout {
    width: 25px;
    height: 25px;
    margin-left: 15px;
  }
  .header-account__logout:before {
    left: -13px;
    height: 27px;
  }
  .header-logo-lk {
    margin: 11px auto 10px;
  }
  .header-description {
    display: block;
    margin-left: 0;
    text-align: center;
  }
  .header-description:before {
    display: none;
  }
  /*-----------------end Lk page----------------*/
  /*-------------------Lk_users page------------------*/
  .bottom-form__in {
    width: 100%;
    padding-right: 0;
  }
  .bottom-form__in:nth-child(3n) {
    padding-right: 0;
  }
  .bottom-form .jq-selectbox {
    width: 100%;
  }
  .bottom-form__btn i {
    top: -1px;
    width: 60px;
    height: 8px;
  }
  .edit-modal {
    max-width: 500px;
    padding: 40px 15px;
  }
  .edit-modal__title {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .edit-modal__btn i {
    top: 22px;
    width: 60px;
    height: 8px;
  }
  /*-----------------end Lk_users page----------------*/
  /*-------------------lk_agency_stat page------------------*/
  .filter-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .filter-in {
    width: 100%;
    margin-bottom: 16px;
    padding-right: 0;
  }
  .filter-in:after {
    right: 15px;
  }
  .filter .jq-selectbox {
    width: 100%;
  }
  /*-----------------end lk_agency_stat page----------------*/
  /*-------------------lk_sales_stat page------------------*/
  .sales-item {
    width: 100%;
    padding-right: 0;
  }
  .sales-item__num {
    font-size: 40px;
  }
  .sales-stat-item {
    width: 100%;
  }
  /*-----------------end lk_sales_stat page----------------*/
  /*-------------------lk_obj page------------------*/
  .objects-bottom {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .objects-bottom__in {
    width: 100%;
    margin-bottom: 16px;
    padding-right: 0;
  }
  .objects-bottom__btn {
    max-width: 100%;
  }
  /*-----------------end lk_obj page----------------*/
  /*-------------------lk_chart_stat page------------------*/
  .filter-sales .filter-in {
    width: 100%;
  }
  .filter-sales .filter-in:after {
    margin-top: 0;
  }
  .filter-sales .jq-selectbox {
    max-width: 100%;
    padding-right: 0;
  }
  .total-item {
    margin-bottom: 16px;
  }
  .total-item-line__start {
    top: -14px;
  }
  .total-item-line__main {
    position: static;
  }
  .total-item-line__main span {
    top: -14px;
  }
  .total-item__end {
    margin-top: 1px;
  }
  .month-stat .filter-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .month-stat .filter-btn {
    max-width: 100%;
  }
  /*-----------------end lk_chart_stat page----------------*/
}

@media only screen and (max-width: 480px) {
  .apart-main > .row > .col {
    width: 100%;
  }
  .apart-main > .row > .col .col {
    width: 100%;
  }
  .apart-item_big .apart-item__pict, .apart-item_small .apart-item__pict {
    height: 162px;
  }
  .step-item {
    width: 100%;
  }
  .step-item__title {
    min-height: auto;
  }
  .step-item__title br {
    display: none;
  }
  .stepform-item__link {
    font-size: 16px;
  }
  .cat .col {
    width: 100%;
  }
  .cat-item img {
    width: 100%;
  }
  /*--------------Contact page--------------*/
  .contact-item__phone {
    margin: 0 0 15px;
  }
  .contact-item__soc {
    display: block;
  }
  .contact-item__mes {
    margin-right: 20px;
    width: 40px;
    height: 40px;
  }
  /*-----------end contact page-------------*/
  /*--------------House page--------------*/
  .house-table tbody td {
    padding: 1px;
  }
  .house-table tbody td a {
    width: 25px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
  }
  /*-----------end house page-------------*/
  /*-------------------Lk page------------------*/
  .objects .col {
    width: 100%;
  }
  .object__pict {
    max-height: none;
  }
  /*-----------------end Lk page----------------*/
}
