.tooltipster-sidetip.tooltipster-punk
.tooltipster-box{
  border-bottom:1px solid #000;  /*colored line at popup bottom*/
  background:#000;  /*background of popup*/
  color:#FFF;
  opacity:0.85;
  }

 /*arrow and border color depending on where the tooltip opens (for example above or below the element)*/
.tooltipster-sidetip.tooltipster-punk.tooltipster-top
.tooltipster-arrow-border{border-top-color:#000}

.tooltipster-sidetip.tooltipster-punk.tooltipster-bottom
.tooltipster-arrow-border{border-bottom-color:#fff}

.tooltipster-sidetip.tooltipster-punk.tooltipster-left
.tooltipster-arrow-border{border-left-color:#fff}

.tooltipster-sidetip.tooltipster-punk.tooltipster-right
.tooltipster-arrow-border{border-right-color:#fff}

.tooltipster-sidetip.tooltipster-punk
.tooltipster-content{color:#FFF;padding:8px 8px; font-family:'Roboto'; font-size:14px; }
