<?php
require_once(__DIR__ . '/../../../core/helpers/domain_helper.php');

// Client 'em' Configuration
$protocol = (!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS'] !== 'off' || (isset($_SERVER['SERVER_PORT']) && $_SERVER['SERVER_PORT'] == 443)) ? "https://" : "http://";
$host = $_SERVER['HTTP_HOST'] ?? 'em.m2profi.pro';
putenv("APP_DOMAIN=$host");
putenv("APP_URL=$protocol$host");
putenv('PUBLIC_DOMAIN=em-nsk.ru');
putenv('PUBLIC_URL=https://em-nsk.ru');
putenv('SUPPORT_EMAIL=op-an@em-nsk.group');
putenv('NOREPLY_EMAIL=noreply@em-nsk.ru');
 
 
  
######################
#### ОбРАБОТКА ОШИБОК И ОТЛАДКА
######################

if( isset($_GET['dev']) )
{
	ini_set('display_errors', 1);
	ini_set('display_startup_errors', 1);
	error_reporting(E_ERROR );
	ini_set("log_errors", 1);
	ini_set("memory_limit","512M");
	ini_set("error_log", __DIR__."/php-error.log");
}
else
{
	ini_set('display_errors', 0);
	ini_set('display_startup_errors', 0);
	error_reporting(0);
}
 
 
// Перехват ошибок в том числе фатальных 
register_shutdown_function( "fatal_handler" );
function fatal_handler() {
	ob_flush();ob_flush();ob_flush();
    $errfile = "unknown file";
    $errstr  = "shutdown";
    $errno   = E_CORE_ERROR;
    $errline = 0;

    $error = error_get_last();

			//print '<pre>';
			//print_r( $error );
			//print '</pre>';
    if($error !== NULL) {
        $errno   = $error["type"];
        $errfile = $error["file"];
        $errline = $error["line"];
        $errstr  = $error["message"];
		if(isset($_GET['dev']))
		{
			
			print '<pre>';
			print_r( $error );
			print '</pre>';
		 
		 
		}
    }
}
session_start();

 // fw_check_access( array( 'mod' => '', 'ctr'=>'' , act =>'' ) ) // Используем в загрузчике контроллеров
function fw_check_access( $params )
{
	/*
	$params['mod']
	ctr
	act
	
	user_id
	login
	
	*/
	/*
	$_SESSION
	[formshow] => 1691663931
    [agency_id] => 1
    [ucaption] => Администраторы
    [adm_caption] => Администраторы
    [sh_password] => 89039111405
    [sh_login] => admin
    [sh_id] => 1
    [sh_name] => Администратор
    [agency_adm_id] => 1
    [gl_user_id] => 1
	*/
	
	$user_id = $_SESSION['sh_id'];

	if($ctr = '' && $act=''   )
	{
		if( $user_id == '1' || $user_id == '1' || $user_id == '1' ){ return true; }
		else{ return false; }
	}
	
}
 if(isset( $_SESSION['sh_login']) && $_SESSION['sh_login'] == 'demo_admin' && $_POST) 
 {
	 
	if(!isset($_GET['ajax']) && $_GET['act']!='edit' ) 
	{
		// alax
		// die('Доступ запрещен - в демонстрационном режиме можно только просматривать данные');
	}
	else
	{
		 die('Доступ запрещен - в демонстрационном режиме можно только просматривать данные');
	}
	  
  
	
 }
/*
	$custom_apparts[100][1]['homecaption'] = ' Тюленина, 5';
	$custom_apparts[100][1]['apartment_num'] = '3';
	$custom_apparts[100][1]['rooms'] = '2';
	$custom_apparts[100][1]['area'] = '69,2 ';
	$custom_apparts[100][1]['price'] = '5 500 000';
	$custom_apparts[100][1]['image_pb'] = '/sahmatka/custom_appart/2.svg';
	 
	$custom_apparts[101][1]['homecaption'] = ' Свечникова, 4/1 ';
	$custom_apparts[101][1]['apartment_num'] = '1';
	$custom_apparts[101][1]['rooms'] = '3';
	$custom_apparts[101][1]['area'] = ' 73,2';
	$custom_apparts[101][1]['price'] = '6 650 000';
	$custom_apparts[101][1]['image_pb'] = '/sahmatka/custom_appart/1.svg';
	*/
	
	/*
	$custom_apparts[102][1]['homecaption'] = ' Краузе 21/1';
	$custom_apparts[102][1]['apartment_num'] = '340';
	$custom_apparts[102][1]['rooms'] = '1';
	$custom_apparts[102][1]['area'] = ' 41';
	$custom_apparts[102][1]['price'] = '3 890 000';
	$custom_apparts[102][1]['image_pb'] = '/sahmatka/custom_appart/x.jpg';
	*/
	
	
	
	
	
	$custom_apparts_all = array();
	foreach($custom_apparts as $k=>$v)
	{
		foreach($v as $k1=>$v1)
		{
			$custom_apparts_all_item = $v1;
			$custom_apparts_all_item['home'] = $k;
			$custom_apparts_all_item['custom_appart_id'] = $k1;
			
			$custom_apparts_all[] = $custom_apparts_all_item;
		}
	}
	
	
$status_arr=array();
$status_arr[0] = 'Не задан (свободно)';
$status_arr[2] = 'Свободо';
$status_arr[3] = 'Продано';
$status_arr[4] = 'Бронь';
$status_arr[5] = 'Бронь застройщика';
$status_arr[6] = 'Бронь подрядика';

$status_color_arr=array();
$status_color_arr[0] = '#8DFFA9';
$status_color_arr[2] = '#8DFFA9';
$status_color_arr[3] = '#FF8A90';
$status_color_arr[4] = '#FEFF52';
$status_color_arr[5] = '#D5E6FE';
$status_color_arr[6] = '#991DFB';
 

//ВЕЗДЕ!!!
$kvartal[6] = 'ДИНАСТИЯ';
$kvartal[1] = 'Квартал INFINITY';
$kvartal[2] = 'Микрорайон Приозерный';
$kvartal[3] = 'Серия RED';
$kvartal[7] = 'АТОМ';



$kvartal_code[6] = '006';
$kvartal_code[1] = '004';
$kvartal_code[2] = '002'; 
$kvartal_code[3] = '005';
$kvartal_code[7] = '007';
// Выпадающий список домов кварталов в каталоге!
$kvartal_style[6] = ' background-color:#E30613; color: #FFF; font-weight: bold;';
$kvartal_style[1] = ' background-color:#E77600; color: #FFF; font-weight: bold;';
$kvartal_style[2] = ' background-color:#F4C200; color: #FFF; font-weight: bold; '; 
$kvartal_style[3] = ' background-color: red; color: #FFF; font-weight: bold;';
$kvartal_style[7] = ' background-color: #eb5b04; color: #3e3c51; font-weight: bold;';

// ХЗ где
   
$kv_type['1'] = 'Однокомнатная квартира';
$kv_type['2'] = 'Двухкомнатная квартира';
$kv_type['3'] = 'Трехкомнатная квартира';
$kv_type['4'] = 'Четырехкомнатная квартира';

$kv_type['1с'] = 'Одноконатная студия';
$kv_type['2с'] = 'Двухкомнатная студия';
$kv_type['3с'] = 'Трехкомнатная студия';
$kv_type['4с'] = 'Четырехкомнатная студия';

$kv_type['1к'] = 'Однокомнатная квартира';
$kv_type['2к'] = 'Двухкомнатная квартира';
$kv_type['3к'] = 'Трехкомнатная квартира';
$kv_type['4к'] = 'Четырехкомнатная квартира';


function fromsql_date($mysqldate,$notime=0)
{
	$phpdate = strtotime( $mysqldate );
	if($notime)
	{
		return $normaldate = date( 'd.m.Y', $phpdate );
	}
	else
	{
		return $normaldate = date( 'd.m.Y H:i:s', $phpdate );
	}
}
/* 
 * Custom PHP function to send an email with multiple attachments 
 * $to Recipient email address 
 * $subject Subject of the email 
 * $message Mail body content 
 * $senderEmail Sender email address 
 * $senderName Sender name 
 * $files Files to attach with the email 
 */ 
function multi_attach_mail2($to, $subject, $message, $senderEmail, $senderName, $files = array())
{ 
    // Sender info  
    $from = $senderName." <".$senderEmail.">";  
    $headers = "From: $from"; 
 
    // Boundary  
    $semi_rand = md5(time());  
    $mime_boundary = "==Multipart_Boundary_x{$semi_rand}x";  
 
    // Headers for attachment  
    $headers .= "\nMIME-Version: 1.0\n" . "Content-Type: multipart/mixed;\n" . " boundary=\"{$mime_boundary}\"";  
 
    // Multipart boundary  
    $message = "--{$mime_boundary}\n" . "Content-Type: text/html; charset=\"UTF-8\"\n" . 
    "Content-Transfer-Encoding: 7bit\n\n" . $message . "\n\n";  
 
    // Preparing attachment 
    if(!empty($files)){ 
        for($i=0;$i<count($files);$i++){ 
            if(is_file($files[$i])){ 
                $file_name = basename($files[$i]); 
                $file_size = filesize($files[$i]); 
                 
                $message .= "--{$mime_boundary}\n"; 
                $fp =    @fopen($files[$i], "rb"); 
                $data =  @fread($fp, $file_size); 
                @fclose($fp); 
                $data = chunk_split(base64_encode($data)); 
                $message .= "Content-Type: application/octet-stream; name=\"".$file_name."\"\n" .  
                "Content-Description: ".$file_name."\n" . 
                "Content-Disposition: attachment;\n" . " filename=\"".$file_name."\"; size=".$file_size.";\n" .  
                "Content-Transfer-Encoding: base64\n\n" . $data . "\n\n"; 
            } 
        } 
    } 
     
    $message .= "--{$mime_boundary}--"; 
    $returnpath = "-f" . $senderEmail; 
     
    // Send email 
    $mail = mail($to, $subject, $message, $headers, $returnpath);  
     
    // Return true if email sent, otherwise return false 
    if($mail){ 
        return true; 
    }else{ 
        return false; 
    } 
}
















	function multi_attach_mail($to, $subject, $message, $senderEmail = 'test@m2profi.pro', $senderName = null, $files = array(), $smtpConfig = []) {
		if ($senderName === null) {
			$senderName = isset($GLOBALS['config']['domain']) ? $GLOBALS['config']['domain'] : (function_exists('get_app_domain') ? get_app_domain() : 'm2profi.pro');
		}
		// Настройки SMTP
		if (empty($smtpConfig)) {
			$smtpConfig = [
				'host' => 'smtp.masterhost.ru', // SMTP-сервер
				'port' => 25,                  // Порт для незащищенного соединения
				'username' => 'test@m2profi.pro', // Ваш email
				'password' => 'zdctvjue123',   // Ваш пароль
			];
		}

		$smtpHost = isset($smtpConfig['host']) ? $smtpConfig['host'] : '';
		$smtpPort = isset($smtpConfig['port']) ? $smtpConfig['port'] : 25; // Порт для незащищенного соединения
		$smtpUsername = isset($smtpConfig['username']) ? $smtpConfig['username'] : '';
		$smtpPassword = isset($smtpConfig['password']) ? $smtpConfig['password'] : '';
		$senderEmail = $smtpConfig['username'];

		// Увеличение времени выполнения скрипта
		set_time_limit(120);

		// Подключение к SMTP серверу
		$smtpConnect = fsockopen($smtpHost, $smtpPort, $errno, $errstr, 30);
		if (!$smtpConnect) {
			print "Не удалось подключиться к SMTP серверу: $errstr ($errno)\n";
			return false;
		}

		// Чтение приветственного сообщения от сервера
		$response = fgets($smtpConnect, 512);
		if (substr($response, 0, 3) != '220') {
			fclose($smtpConnect);
			print "Неверный ответ на приветствие: $response\n";
			return false;
		}

		// HELO
		if (!smtp_msg($smtpConnect, "HELO " . $_SERVER['SERVER_NAME'])) {
			fclose($smtpConnect);
			return false;
		}

		// AUTH LOGIN
		if (!smtp_msg($smtpConnect, "AUTH LOGIN")) {
			fclose($smtpConnect);
			return false;
		}
		if (!smtp_msg($smtpConnect, base64_encode($smtpUsername))) {
			fclose($smtpConnect);
			return false;
		}
		if (!smtp_msg($smtpConnect, base64_encode($smtpPassword))) {
			fclose($smtpConnect);
			return false;
		}

		// MAIL FROM
		if (!smtp_msg($smtpConnect, "MAIL FROM:<" . $senderEmail . ">")) {
			fclose($smtpConnect);
			return false;
		}


		/*
		// RCPT TO
		if (!smtp_msg($smtpConnect, "RCPT TO:<" . $to . ">")) {
			fclose($smtpConnect);
			return false;
		}
		*/
		
		
		


		// RCPT TO для каждого получателя
		$recipients = explode(',', $to);
		foreach ($recipients as $recipient) {
			$recipient = trim($recipient);
			if (!smtp_msg($smtpConnect, "RCPT TO:<" . $recipient . ">")) {
				fclose($smtpConnect);
				return false;
			}
		}
	
	
	

		// DATA
		if (!smtp_msg($smtpConnect, "DATA")) {
			fclose($smtpConnect);
			return false;
		}

		// Генерация заголовков
		$from = $senderName . " <" . $senderEmail . ">";
		$boundary = md5(uniqid(time()));
		$headers = "From: " . $from . "\r\n";
		$headers .= "MIME-Version: 1.0\r\n";
		$headers .= "Content-Type: multipart/mixed; boundary=\"" . $boundary . "\"\r\n";
		$headers .= "Subject: =?UTF-8?B?" . base64_encode($subject) . "?=\r\n"; // Кодировка темы письма в Base64

		// Тело письма
		$body = "--" . $boundary . "\r\n";
		$body .= "Content-Type: text/html; charset=UTF-8\r\n";
		$body .= "Content-Transfer-Encoding: 7bit\r\n\r\n";
		$body .= $message . "\r\n";

		// Вложения
		if (!empty($files)) {
			foreach ($files as $file) {
				if (is_file($file)) {
					$file_name = basename($file);
					$file_size = filesize($file);
					$fp = fopen($file, "rb");
					$data = fread($fp, $file_size);
					fclose($fp);
					$data = chunk_split(base64_encode($data));

					$body .= "--" . $boundary . "\r\n";
					$body .= "Content-Type: application/octet-stream; name=\"" . $file_name . "\"\r\n";
					$body .= "Content-Disposition: attachment; filename=\"" . $file_name . "\"\r\n";
					$body .= "Content-Transfer-Encoding: base64\r\n\r\n";
					$body .= $data . "\r\n";
				}
			}
		}

		$body .= "--" . $boundary . "--\r\n";

		// Отправка письма
		if (!smtp_msg($smtpConnect, $headers . "\r\n" . $body . ".\r\n")) {
			fclose($smtpConnect);
			return false;
		}

		// Завершение соединения
		smtp_msg($smtpConnect, "QUIT");
		fclose($smtpConnect);

		return true;
	}

	// Функция для отправки команд и получения ответов от SMTP-сервера
	function smtp_msg($sock, $msg) {
		if (!$sock) {
			printf("Broken socket!\n");
			exit(1);
		}

		// Отправляем команду
		fputs($sock, "$msg\r\n");

		// Читаем ответ сервера
		$response = '';
		while (($line = fgets($sock, 512)) !== false) {
			$response .= $line;
			// Если строка начинается с цифры и заканчивается пробелом, это последняя строка ответа
			if (preg_match('/^[0-9]{3} /', $line)) {
				break;
			}
		}

		// Разбираем код ответа
		$code = substr($response, 0, 3);
		if ($code >= 400) { // Ошибка, если код больше или равен 400
			//printf("Ошибка SMTP: Code %d. Message: %s\n", $code, trim(substr($response, 4)));
			return false;
		}

		return true;
	}

	/*
	if ($_GET['dev']) {
		$result = multi_attach_mail(
			'89236470002@mail.ru', // Получатель
			'Тестовоwwwwwwwwwwwе письмо',     // Тема
			'<h1>Привwwwwwwет!</h1><p>Это тестовое письмо.</p>', // Сообщение
			'test@m2profi.pro',    // Отправитель
			'Ваше имя',            // Имя отправителя
			['path/to/file1.pdf' ]
		   
		);
	}
	*/
	 





	 
	///Сборка формы для отправки
	function form_message( $data_arr='' , $mess_conf='' , $dev=0 )
	{
		$mess='';
		foreach( $data_arr as $k=>$v)
		{
			if( $mess_conf[$k] )
			{
				$mess.='<b>'.$mess_conf[$k].':</b> '. $data_arr[$k]."\r\n<br/><br/>";
			}
			elseif( $dev )
			{
				$dev_mess.='<b>$mess_conf[\''.$k.'\']</b>="'.$data_arr[$k].'";<br/>';
			}
			else
			{
				
			}
		}
		if($dev){$mess.=$dev_mess;}
		return $mess;
	}
 

include(__DIR__ . '/../../../core/functions.php');	
t('functions.php');

$connection = mysqli_connect('127.0.0.1', 'root', 'root', 'm2profi_em') or die(mysqli_connect_error()); // Соединение с базой данных 
$result = mysqli_query($connection, "SET NAMES utf8");
 	
$GLOBALS['config']['mysql_login'] = 'root';
$GLOBALS['config']['mysql_password'] = 'root';
$GLOBALS['config']['mysql_base'] = 'm2profi_em';
$GLOBALS['config']['server'] = '127.0.0.1';

include(__DIR__ . '/../../../core/classes.php');




require_once __DIR__ . '/../../../core/fw/fw.php';
// РУЧНАЯ ЗАГРУЗКА МОДУЛЯ MAILER из современной версии фреймворка ! потом переделать на нормальную загрузку  апеременная глоб останется !
require_once __DIR__ . '/../../../core/fw/mod/fw_mailer/classes/phpmailer/Exception.php';
require_once __DIR__ . '/../../../core/fw/mod/fw_mailer/classes/phpmailer/PHPMailer.php';
require_once __DIR__ . '/../../../core/fw/mod/fw_mailer/classes/phpmailer/SMTP.php';
require_once __DIR__ . '/../../../core/fw/mod/fw_mailer/classes/phpmailer/fw_wrapper_mailer.php';
	
$fw_mailer = new fw_wrapper_mailer( array( 
		'from'=>'test@m2profi.pro' , 
		'from_name'=>$GLOBALS['config']['domain'] , 
		'method'=>'smtp' , //smtp
		'server'=>'smtp.masterhost.ru', 
		'port'=>'25',
		'login'=>'test@m2profi.pro',
		'password'=>'zdctvjue123'
	)  );
//////////////////////////////////

// ручная загрузка модуля сообщений 
require_once __DIR__ . '/../../../core/fw/mod/fw_messages/classes/fw_messages.php';
	 
		
		
		
 include(__DIR__ . '/../captcha/FormProtect.php');
 
 
include(__DIR__ . '/../../../core/classes/controller.php');
include(__DIR__ . '/../../../core/classes/controller_homes.php');


include(__DIR__ . '/fw/controllers/ctr__zapiskeys.php');
include(__DIR__ . '/../../../core/classes/router.php');










$r = new router();
include(__DIR__ . '/../../../core/classes/filed.php');
$filed = new filed();
t('classes.php');

 

 