@media (min-width: 1400px) {
  .container {
    max-width: 1350px;
  }
}

@media only screen and (max-width: 1800px) {
  .sidenav {
    left: -240px;
  }
  .sidenav.open {
    left: 0;
  }
  .sidenav.open .sidenav__close {
    opacity: 1;
    visibility: visible;
  }
  .header-lk {
    padding-bottom: 20px;
  }
  .header-lk-main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-lk {
    display: block;
  }
}

@media only screen and (max-width: 1680px) {
  .circle-blur_top-right {
    top: -250px;
    right: -400px;
  }
  .circle-blur_center-left {
    left: -470px;
  }
  .circle-blur_center-right {
    right: -900px;
  }
  .circle-blur_bottom-left {
    left: -750px;
  }
  .login-modal-col-pict {
    width: 60%;
  }
  /**/
}

@media only screen and (max-width: 1439px) {
  .login-modal__linkback {
    top: 30px;
  }
  .login-modal-main {
    padding: 60px 30px 5vh 0;
  }
  .login-modal-form {
    margin-top: 3vh;
  }
  .login-modal-col-pict {
    width: 50%;
  }
  /**/
}

@media only screen and (max-width: 1400px) {
  .header-main {
    padding-top: 30px;
  }
  .header-phone {
    font-size: 16px;
  }
  .header-phone::before {
    top: -4px;
  }
  .section-main {
    padding-bottom: 25px;
  }
  .main-caption {
    width: 59%;
    padding-top: 30px;
  }
  .main-caption__title {
    font-size: 52px;
  }
  .main-caption__text {
    font-size: 24px;
  }
  .main-advantage {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 60px;
  }
  .main-advantage__item {
    width: calc(50% - 28px);
    margin-bottom: 40px;
  }
  .info {
    padding-left: 30px;
  }
  .info-main {
    width: 620px;
    min-width: 620px;
  }
  .info-title {
    font-size: 48px;
  }
  .info-text {
    font-size: 24px;
  }
  .banner-main {
    padding-left: 30px;
  }
  .banner-title {
    font-size: 48px;
  }
  .banner-text {
    font-size: 24px;
  }
  .price {
    padding-left: 30px;
  }
  .price-title {
    font-size: 48px;
  }
  .price-text {
    font-size: 24px;
  }
  .footer-phone {
    font-size: 16px;
  }
  .footer-phone::before {
    top: -4px;
  }
  .page-header {
    min-height: 116px;
    margin-bottom: 40px;
  }
  .page-header__logo {
    margin-top: 7px;
    max-width: 70px;
  }
  .page-header__title {
    font-size: 48px;
  }
  .page-header__title::before {
    top: 7px;
  }
  .objects-cl-nav .slick-arrow.slick-next span {
    font-size: 14px;
  }
  .objects-table {
    border-spacing: 8px;
  }
  .stat-top-item {
    margin: 0 5px;
  }
  .stat-top-item_house {
    width: 115px;
  }
  .stat-top-item_room {
    width: 115px;
  }
  .stat-top-item_status {
    width: 142px;
  }
  .stat-top-item_agency {
    width: 159px;
  }
  .stat-top-item_date {
    width: 201px;
  }
  .stat-top-select .jq-selectbox__select {
    font-size: 16px;
  }
  .stat-top-in input {
    font-size: 16px;
  }
  .stat-top-in input::-webkit-input-placeholder {
    font-size: 16px;
  }
  .stat-top-in input::-moz-placeholder {
    font-size: 16px;
  }
  .stat-top-in input:-ms-input-placeholder {
    font-size: 16px;
  }
  .stat-top-in input::-ms-input-placeholder {
    font-size: 16px;
  }
  .stat-top-in input::placeholder {
    font-size: 16px;
  }
  .stat-top-btn {
    max-width: 230px;
    margin-left: 10px;
  }
  .stat-table table tr th {
    font-size: 12px;
  }
  .stat-table table tr th, .stat-table table tr td {
    padding: 9px 5px;
  }
  .stat-docs {
    padding: 30px 0 10px;
  }
  .stat-total-item__num {
    font-size: 48px;
  }
  .stat-total-item__btn {
    font-size: 14px;
  }
  /**/
}

@media only screen and (max-width: 1200px) {
  .btn {
    font-size: 20px;
  }
  .btn_arrow {
    font-size: 16px;
  }
  .header-logo {
    max-width: 75px;
  }
  .header-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-phone {
    margin: 0 0 10px;
  }
  .header-phone::before {
    display: none;
  }
  .main-pict {
    width: 420px;
  }
  .main-caption {
    width: 55%;
  }
  .main-caption__title {
    font-size: 46px;
  }
  .main-caption__text {
    font-size: 20px;
  }
  .main-advantage__title {
    font-size: 16px;
  }
  .main-advantage__text {
    font-size: 16px;
  }
  .info-main {
    width: 450px;
    min-width: 450px;
  }
  .info-title {
    font-size: 40px;
  }
  .info-text {
    font-size: 18px;
  }
  .info-advantage__item {
    width: 100%;
    margin: 0 0 20px;
  }
  .info-advantage__title {
    font-size: 16px;
  }
  .banner {
    padding-right: 30px;
  }
  .banner-title {
    font-size: 40px;
  }
  .banner-text {
    font-size: 18px;
  }
  .price-title {
    font-size: 40px;
  }
  .price-text {
    font-size: 18px;
  }
  .footer-logo {
    max-width: 75px;
  }
  .footer-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-phone {
    margin: 0 0 10px;
  }
  .footer-phone::before {
    display: none;
  }
  .login-modal__title {
    padding: 12px 20px;
    font-size: 28px;
  }
  .login-modal-form__btn {
    font-size: 14px;
  }
  .page-header {
    min-height: 92px;
  }
  .page-header__logo {
    margin-top: 6px;
    max-width: 60px;
  }
  .page-header__title {
    font-size: 38px;
  }
  .page-header__title::before {
    top: 6px;
  }
  .object {
    padding-bottom: 30px;
  }
  .objects-cl-nav__title {
    font-size: 16px;
  }
  .objects-cl-nav .slick-arrow.slick-next span {
    font-size: 16px;
  }
  .objects-head-nav__select .jq-selectbox {
    max-width: 350px;
    width: 100%;
  }
  .objects-head-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .objects-head-main__text {
    max-width: none;
    padding-right: 0;
  }
  .objects-price {
    margin-top: 20px;
  }
  .objects-bottom {
    margin-top: 30px;
  }
  .chart-wrap {
    padding: 30px 0 20px;
  }
  .stat-wrap {
    padding: 0;
  }
  .table-block table tbody tr::after {
    left: 0;
    width: 100%;
  }
  .table-block table th, .table-block table td {
    font-size: 12px;
  }
  .table-block table th:last-child, .table-block table td:last-child {
    padding-right: 5px;
  }
  .table-block table th {
    padding: 9px 5px;
  }
  .table-block table td {
    padding: 10px 5px;
  }
  .table-block table td span {
    margin-left: 5px;
  }
  .month-stat-filter__btn {
    font-size: 16px;
  }
  .stat {
    padding: 25px 15px;
  }
  .stat-top-items {
    width: calc(100% - 371px);
  }
  .stat-top-items__item {
    margin-right: 20px;
    font-size: 16px;
  }
  .stat-top-filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .stat-top-item {
    margin: 0 5px;
  }
  .stat-top-item_house {
    width: 292px;
    margin-bottom: 10px;
  }
  .stat-top-item_room {
    width: 292px;
    margin-bottom: 10px;
  }
  .stat-top-item_status {
    width: 292px;
    margin: 0 0 10px 5px;
  }
  .stat-top-item_agency {
    width: 292px;
    margin-left: 0;
  }
  .stat-top-item_date {
    width: 292px;
  }
  .stat-top_user .stat-top-btn {
    max-width: 435px;
  }
  .stat-top-btn {
    max-width: 292px;
    font-size: 16px;
  }
  .stat-table table tr th {
    font-size: 10px;
  }
  .stat-table table tr td {
    font-size: 12px;
  }
  .stat-docs-item__title {
    margin-left: 15px;
    font-size: 16px;
  }
  .stat-total {
    margin: 38px -5px 0;
  }
  .stat-total-item {
    padding: 0 5px;
  }
  .stat-total-item__num {
    font-size: 38px;
  }
  .stat-total-item__btn {
    font-size: 12px;
    padding: 0 10px;
  }
  .stat-rooms {
    margin: 28px -5px 0;
  }
  .stat-rooms-item {
    width: calc(100% / 3 - 10px);
    margin: 0 5px 10px;
    padding: 20px 15px;
  }
  /**/
}

@media only screen and (max-width: 992px) {
  .menu-mob {
    display: block;
  }
  .header-main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px;
  }
  .header-menu {
    display: none;
  }
  .header-lk {
    padding-top: 10px;
  }
  .header-account__profile {
    padding: 0 15px 0 45px;
  }
  .header-account__profile::before {
    top: -9px;
    width: 36px;
    height: 36px;
  }
  .header-account__profile::after {
    height: 30px;
    margin-top: -15px;
  }
  .header-account__logout {
    width: 30px;
    height: 30px;
    margin-left: 15px;
  }
  .section-main {
    padding-top: 100px;
  }
  .main-pict {
    width: auto;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0.5 !important;
  }
  .main-caption {
    width: 100%;
  }
  .main-advantage {
    margin: 60px -15px 0;
  }
  .main-advantage__item {
    width: calc(50% - 30px);
    margin: 0 15px 40px;
  }
  .main-advantage__item:last-child {
    margin-right: 15px;
  }
  .info-main {
    width: 100%;
    min-width: auto;
  }
  .info-advantage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 50px -15px 0;
  }
  .info-advantage__item {
    width: calc(50% - 30px);
    margin: 0 15px 20px;
  }
  .info-advantage__title {
    font-size: 16px;
  }
  .info-pict {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0.5 !important;
  }
  .banner-pict {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0.5 !important;
  }
  .footer {
    opacity: 1 !important;
  }
  .footer-main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 25px 0 20px;
  }
  .footer-logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer-nav {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 20px;
    text-align: center;
  }
  .footer-menu {
    display: none;
  }
  .footer-contact {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .login-modal {
    height: auto;
  }
  .login-modal .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .login-modal .col {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login-modal-main {
    padding: 15px 15px 30px;
  }
  .login-modal__linkback {
    position: relative;
    top: 0;
    margin-bottom: 15px;
  }
  .login-modal-form {
    margin: 0;
  }
  .login-modal-col-pict {
    width: 100%;
  }
  .login-modal-pict {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .login-modal__caption {
    padding: 20px 15px;
  }
  .login-modal__logo {
    padding: 15px 15px 15px 30px;
  }
  .page-header {
    min-height: 72px;
  }
  .page-header__logo {
    margin-top: 4px;
    max-width: 60px;
  }
  .page-header__title {
    font-size: 30px;
  }
  .page-header__title::before {
    top: 4px;
  }
  .overlay-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 800;
    background: rgba(47, 64, 73, 0.8);
  }
  .sidenav__close {
    top: 12px;
  }
  .sidenav-wrap {
    padding-top: 0;
  }
  .sidenav__backlink {
    display: none;
  }
  .sidenav__backlink_mob {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 14px;
    color: #00CDAD;
  }
  .sidenav__backlink_mob::before {
    top: 5px;
    background: url(../images/arrow-back-left-white.svg) 0 0 no-repeat;
  }
  .sidenav-nav {
    min-height: auto;
    margin-top: 0;
    padding: 15px 12px;
  }
  .sidenav-menu li > span {
    display: block;
  }
  .sidenav-menu li a {
    padding: 10px 0;
  }
  .sidenav-menu li a i {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
  .sidenav-menu li a img {
    max-width: 20px;
  }
  .sidenav-dropmenu > a:after {
    display: none;
  }
  .objects-head-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .objects-head-top__title {
    margin-bottom: 20px;
  }
  .objects-head-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .objects-head-pict {
    max-width: none;
    height: auto;
  }
  .objects-head-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: none;
    padding: 20px 0 0;
  }
  .objects-head-main__text {
    padding-right: 15px;
  }
  .objects-head-main__text_info {
    padding-right: 0;
  }
  .objects-head-status__title {
    margin-bottom: 20px;
  }
  .objects-bottom__in > input {
    width: 220px;
  }
  .objects-bottom__in .jq-number {
    width: 220px;
  }
  .chart-wrap {
    padding-top: 15px;
  }
  .table-block table th, .table-block table td {
    font-size: 10px;
  }
  .table-block table th:last-child, .table-block table td:last-child {
    padding-right: 3px;
  }
  .table-block table th {
    padding: 9px 3px;
  }
  .table-block table td {
    padding: 10px 3px;
  }
  .table-block table td span {
    margin-left: 3px;
  }
  .total-item__title {
    font-size: 14px;
  }
  .total-item-line__start {
    font-size: 14px;
  }
  .total-item-line__main span {
    font-size: 14px;
  }
  .total-item__end {
    font-size: 14px;
  }
  .month-stat-filter__btn {
    font-size: 14px;
  }
  .stat {
    padding:  5px 10px;
  }
  .stat-top-items {
    width: calc(100% - 307px);
  }
  .stat-top-items__item {
    font-size: 14px;
  }
  .stat-top-item_house {
    width: 215px;
  }
  .stat-top-item_room {
    width: 215px;
  }
  .stat-top-item_status {
    width: 215px;
  }
  .stat-top-item_agency {
    width: 215px;
  }
  .stat-top-item_date {
    width: 215px;
  }
  .stat-top-in_search {
    max-width: 260px;
  }
  .stat-top-btn {
    max-width: 215px;
  }
  .stat-top_user .stat-top-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 304px;
    margin-left: 20px;
    padding: 0 10px;
    text-align: center;
  }
  .stat-top_user .stat-top-btn i {
    display: none;
  }
  .stat-top_key .stat-top-item_date {
    width: 124px;
  }
  .stat-top_key .stat-top-item_kv {
    width: 150px;
  }
  .stat-top_key .stat-top-btn {
    max-width: 134px;
  }
  .stat-top__print {
    margin-left: 20px;
  }
  .stat-table {
    padding: 30px 0 0;
    overflow-x: scroll;;
  }
  .stat-docs-item {
    width: calc(100% / 2);
  }
  .stat-total {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .stat-total-item {
    width: calc(100% / 3);
    margin-bottom: 15px;
  }
  .stat-total-item__num {
    margin-bottom: 10px;
  }
  .stat-rooms {
    margin-top: 10px;
  }
  .stat-rooms-item {
    width: calc(100% / 2 - 10px);
  }
  /**/
}

@media only screen and (max-width: 768px) {
  .circle-blur_top-right {
    z-index: 0;
  }
  .circle-blur_bottom-left {
    left: -900px;
  }
  .circle-blur_inner-top-left {
    left: -400px;
  }
  .circle-blur_inner-top-right {
    right: -800px;
  }
  .circle-blur_inner-center-right {
    right: -800px;
    top: 300px;
  }
  .btn {
    font-size: 16px;
  }
  .btn_arrow-long, .btn_arrow-short {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 41px;
    font-size: 14px;
    text-align: center;
  }
  .btn_arrow-long i, .btn_arrow-short i {
    display: none;
  }
  .btn_notbdrs {
    height: 41px;
  }
  .info-advantage__title {
    margin-left: 10px;
  }
  .price-text {
    margin-bottom: 30px;
  }
  .price-form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 15px;
  }
  .price-form__row input {
    max-width: none;
    margin: 0 0 14px;
  }
  .login-modal .row::before {
    bottom: -1100px;
  }
  .login-modal__linkback {
    font-size: 18px;
  }
  .login-modal__linkback:before {
    top: 7px;
  }
  .login-modal-form {
    padding: 20px;
  }
  .login-modal-form__title {
    margin-bottom: 12px;
    font-size: 24px;
  }
  .login-modal-form__subtitle {
    font-size: 16px;
  }
  .login-modal__logo {
    margin-bottom: 20px;
  }
  .login-modal__logo img {
    max-width: 60px;
  }
  .login-modal__title {
    margin-bottom: 20px;
    padding: 10px 15px;
    font-size: 24px;
  }
  .login-modal__text {
    font-size: 16px;
  }
  .login-modal__contact {
    font-size: 16px;
  }
  .page-header {
    min-height: 62px;
    margin-bottom: 10px;
  }
  .page-header__title {
    font-size: 26px;
  }
  .objects {
    padding-top: 0;
  }
  .object__title {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .sidenav-menu li > span {
    top: 13px;
  }
  .sidenav-menu li a {
    padding: 5px 0;
  }
  .objects-head-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .objects-head-nav__select {
    margin: 0 0 20px;
  }
  .objects-table {
   /* border-spacing: 3px; */
  }
  .tdfloor {
    width: 15px;
    font-size: 16px;
  }
  .tdroom {
    font-size: 16px;
  }
  .objects-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .objects-bottom__in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 15px;
  }
  .objects-bottom__in > input {
    width: 100%;
    max-width: 316px;
    margin: 0 0 15px;
  }
  .objects-bottom__in .jq-number {
    width: 100%;
    max-width: 316px;
  }
  .chart-wrap {
    height: 300px !important;
  }
  .table-block {
    overflow-x: auto;
  }
  .table-block table td span {
    margin-left: 2px;
    min-width: auto;
    padding: 2px;
  }
  .total-item__title {
    min-width: 18px;
    margin-top: 3px;
    font-size: 12px;
  }
  .total-item-line {
    height: 20px;
  }
  .total-item-line__start {
    top: 4px;
    font-size: 12px;
  }
  .total-item-line__main span {
    top: 4px;
    font-size: 12px;
  }
  .total-item__end {
    min-width: 87px;
    margin-top: 3px;
    padding-left: 3px;
    font-size: 12px;
  }
  .filter-in {
    width: 250px;
    margin-bottom: 10px;
  }
  .filter-in input {
    height: 41px;
    padding: 0 10px;
  }
  .month-stat-filter__btn {
    height: 41px;
    max-width: 250px;
    padding: 0 10px;
  }
  .stat {
    margin: 0 -10px;
  }
  .stat-top-items {
    width: 100%;
    margin-bottom: 10px;
  }
  .stat-top-items__item {
    margin-right: 10px;
  }
  .stat-top-item_house {
    width: calc(50% - 15px);
  }
  .stat-top-item_room {
    width: calc(50% - 5px);
    margin-right: 0;
  }
  .stat-top-item_status {
    width: calc(50% - 5px);
    margin: 0 5px 10px 0;
  }
  .stat-top-item_agency {
    width: calc(50% - 5px);
    margin: 0 0 10px 5px;
  }
  .stat-top-item_date {
    width: calc(50% - 5px);
    margin-left: 0;
  }
  .stat-top-select .jq-selectbox__select {
    height: 41px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 39px;
  }
  .stat-top-select .jq-selectbox__trigger-arrow {
    top: 15px;
    right: 8px;
  }
  .stat-top-in::after {
    right: 10px;
  }
  .stat-top-in input {
    height: 41px;
    padding-left: 10px;
    font-size: 14px;
  }
  .stat-top-in input::-webkit-input-placeholder {
    font-size: 14px;
  }
  .stat-top-in input::-moz-placeholder {
    font-size: 14px;
  }
  .stat-top-in input:-ms-input-placeholder {
    font-size: 14px;
  }
  .stat-top-in input::-ms-input-placeholder {
    font-size: 14px;
  }
  .stat-top-in input::placeholder {
    font-size: 14px;
  }
  .stat-top-in_search {
    width: 45%;
  }
  .stat-top-btns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .stat-top-btn {
    max-width: calc(50% - 5px);
    margin-left: 0;
    padding: 0;
  }
  .stat-top-btn_wide {
    width: 100%;
    max-width: 382px;
  }
  .stat-top__print {
    width: 54px;
    height: 41px;
  }
  .stat-top__print::before {
    width: 30px;
    height: 30px;
  }
  .stat-top_dogovor .stat-top-item_agency {
    width: calc(50% - 5px);
  }
  .stat-top_dogovor .stat-top-btn {
    height: 41px;
    margin-left: 10px;
  }
  .stat-top_user .stat-top-btn {
    width: calc(55% - 10px);
    margin-left: 10px;
    font-size: 12px;
  }
  .stat-top_user .stat-top__print {
    margin-left: 10px;
  }
  .stat-top_tour .stat-top-item_date {
    width: 35%;
  }
  .stat-top_tour .stat-top-btn {
    width: calc(65% - 10px);
    height: 41px;
    margin-left: 10px;
  }
  .stat-top_key .stat-top-item {
    margin-bottom: 10px;
  }
  .stat-top_key .stat-top-item_date, .stat-top_key .stat-top-item_section, .stat-top_key .stat-top-item_kv {
    width: calc(50% - 5px);
  }
  .stat-top_key .stat-top-item_section {
    margin-right: 0;
  }
  .stat-top_key .stat-top-item_kv {
    margin-left: 0;
  }
  .stat-top_key .stat-top-btn {
    max-width: 100%;
    width: calc(50% - 5px);
  }
  .stat-top_key .stat-top__print {
    margin-left: 10px;
  }
  .stat-docs {
    padding: 20px 0 0;
  }
  .callback-form__title {
    margin-bottom: 15px;
    font-size: 24px;
  }
  .callback-form input {
    height: 41px;
    margin-bottom: 10px;
  }
  .callback-form .jq-selectbox {
    margin-bottom: 10px;
  }
  .callback-form .jq-selectbox__select {
    height: 41px;
    line-height: 39px;
  }
  .callback-form .jq-selectbox__trigger-arrow {
    top: 15px;
  }
  .callback-form__btn.btn {
    height: 41px;
  }
  /**/
}

@media only screen and (max-width: 575px) {
  .btn {
    font-size: 16px;
  }
  .btn i {
    width: 38px;
    height: 11px;
  }
  .btn_arrow i {
    width: 67px;
  }
  .btn_arrow-long {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
    text-align: center;
  }
  .btn_arrow-long i {
    display: none;
  }
  .main-caption__title {
    font-size: 36px;
  }
  .main-caption__text {
    font-size: 18px;
  }
  .info-title {
    font-size: 34px;
  }
  .info-advantage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 40px 0 0;
  }
  .info-advantage__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0 0 20px;
  }
  .info-advantage__title {
    padding-top: 0;
  }
  .info-advantage__title br {
    display: none;
  }
  .callback-form {
    padding: 40px 15px 50px;
  }
  .login-modal__linkback {
    font-size: 12px;
  }
  .login-modal__linkback:before {
    top: 3px;
  }
  .login-modal-main {
    width: 100%;
  }
  .login-modal-form {
    width: 100%;
  }
  .login-modal-form_-title {
    font-size: 20px;
  }
  .login-modal-form__subtitle {
    font-size: 14px;
  }
  .login-modal-form input {
    margin-bottom: 12px;
  }
  .login-modal-form__btn {
    font-size: 14px;
  }
  .login-modal-form__password {
    margin: 0 0 12px;
  }
  .login-modal__title {
    font-size: 20px;
  }
  .page-header__title {
    margin-left: 15px;
    padding-left: 15px;
    font-size: 24px;
  }
  .objects-head-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .objects-head-main__text {
    padding-right: 0;
  }
  .second-title {
    font-size: 14px;
  }
  .second-title::after {
    top: 0;
  }
  .total-stat__body {
    margin-top: 15px;
  }
  .total-item {
    margin-bottom: 16px;
  }
  .total-item-line__start {
    top: -14px;
  }
  .total-item-line__main {
    position: static;
  }
  .total-item-line__main span {
    top: -14px;
  }
  .total-item__end {
    margin-top: 1px;
  }
  .filter-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filter-in {
    width: 100%;
    margin-right: 0;
  }
  .month-stat-filter__btn {
    max-width: none;
    width: 100%;
  }
  .stat-top_user {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .stat-top_user .stat-top-filter {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .stat-top_user .stat-top__print {
    margin: 0 0 10px;
  }
  .stat-top_order .stat-top-in_search {
    width: 100%;
  }
  .stat-docs-item {
    margin-bottom: 25px;
    padding-right: 20px;
  }
  .stat-docs-item__title {
    margin-left: 10;
    font-size: 14px;
  }
  .stat-total-item {
    width: calc(100% / 2);
  }
  .stat-total-item__num {
    margin-bottom: 10px;
  }
  /**/
}

@media only screen and (max-width: 480px) {
  .btn {
    font-size: 14px;
  }
  .mobile-nav {
    width: 255px;
  }
  .header-logo {
    max-width: 53px;
  }
  .section-main {
    padding: 80px 0 0;
  }
  .main-caption__title {
    font-size: 26px;
  }
  .main-caption__title br {
    display: none;
  }
  .main-caption__text {
    font-size: 16px;
  }
  .main-caption__text br {
    display: none;
  }
  .main-advantage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px 0 0;
  }
  .main-advantage__item {
    width: 100%;
    margin: 0 0 40px;
  }
  .main-advantage__item br {
    display: none;
  }
  .info {
    padding: 30px 15px 10px;
  }
  .info-title {
    font-size: 28px;
  }
  .info-title br {
    display: none;
  }
  .info-text {
    font-size: 16px;
  }
  .info-text br {
    display: none;
  }
  .banner-main {
    padding: 30px 15px;
  }
  .banner-title {
    font-size: 28px;
  }
  .banner-title br {
    display: none;
  }
  .banner-text {
    font-size: 16px;
  }
  .banner-text br {
    display: none;
  }
  .banner-btn i {
    display: none;
  }
  .price-main {
    padding: 30px 15px 10px;
  }
  .price-title {
    font-size: 28px;
  }
  .price-title br {
    display: none;
  }
  .price-text {
    font-size: 16px;
  }
  .price-text br {
    display: none;
  }
  .price-btn i {
    display: none;
  }
  .login-modal-form {
    padding: 20px 15px;
  }
  .login-modal-form__btn {
    font-size: 14px;
  }
  .page-header {
    min-height: 52px;
  }
  .page-header__logo {
    max-width: 40px;
  }
  .page-header__title {
    margin-left: 10px;
    padding-left: 10px;
    font-size: 22px;
  }
  .month-stat-filter__btn {
    font-size: 12px;
  }
  .stat-top-items__item {
    font-size: 12px;
  }
  .stat-top-select .jq-selectbox__select {
    padding: 0 25px 0 5px;
    font-size: 12px;
  }
  .stat-top-select .jq-selectbox__trigger-arrow {
    right: 5px;
  }
  .stat-top-in::after {
    right: 7px;
  }
  .stat-top-in input {
    padding: 0 25px 0 5px;
    font-size: 12px;
  }
  .stat-top-in input::-webkit-input-placeholder {
    font-size: 12px;
  }
  .stat-top-in input::-moz-placeholder {
    font-size: 12px;
  }
  .stat-top-in input:-ms-input-placeholder {
    font-size: 12px;
  }
  .stat-top-in input::-ms-input-placeholder {
    font-size: 12px;
  }
  .stat-top-in input::placeholder {
    font-size: 12px;
  }
  .stat-top-in_search {
    width: 100%;
    max-width: 100%;
  }
  .stat-top-btn {
    font-size: 12px;
  }
  .stat-top_dogovor {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .stat-top_dogovor .stat-top-filter {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .stat-top_dogovor .stat-top__print {
    margin-bottom: 10px;
  }
  .stat-top_user .stat-top-btn {
    width: 100%;
    max-width: 100%;
    margin: 10px 0 0;
  }
  .stat-top_tour {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .stat-top_tour .stat-top-filter {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .stat-top_tour .stat-top-btn {
    max-width: 100%;
  }
  .stat-top_tour .stat-top__print {
    margin-bottom: 10px;
  }
  .stat-top_key {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .stat-top_key .stat-top-filter {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .stat-top_key .stat-top-item_date {
    margin-left: 5px;
  }
  .stat-top_key .stat-top-item_section {
    margin-right: 0;
  }
  .stat-top_key .stat-top-item_kv {
    margin-left: 0;
  }
  .stat-top_key .stat-top-btn {
    max-width: 100%;
  }
  .stat-top_key .stat-top__print {
    margin-bottom: 10px;
  }
  .stat-docs-item {
    width: 100%;
    padding-right: 0;
  }
  .stat-docs-item__title br {
    display: none;
  }
  .stat-total-item__num {
    font-size: 28px;
  }
  .stat-total-item__btn {
    height: 41px;
    font-size: 10px;
  }
  .stat-rooms {
    margin: 18px 0 0;
  }
  .stat-rooms-item {
    width: 100%;
  }
  .callback-form {
    padding-bottom: 30px;
  }
  .callback-form__title {
    font-size: 22px;
  }
  .callback-form__btn.btn {
    padding: 0;
  }
  .callback-form__btn.btn i {
    display: none;
  }
  /*--------Print css------*/
}

@media print {
  .container {
    max-width: none;
    width: auto;
    padding: 0;
  }
  .header {
    display: none;
  }
  .sidenav {
    display: none;
  }
  .page-header {
    min-height: auto;
    max-height: 45px;
  }
  .page-header__logo {
    max-width: 35px;
    margin-top: 5px;
  }
  .page-header__title {
    font-size: 16px;
	padding-left:10px;
  }
  .page-header__title::before {
    top: 5px;
	 height:35px;
  }
  .stat {
    padding: 0;
    border: none;
  }
  .stat-top {
    display: none;
  }
  .stat-table {
    padding: 0;
  }
  .stat-table table {
    width: 100%;
    padding: 0;
    border-spacing: 0;
  }
  .stat-table table tr th, .stat-table table tr td {
    white-space: normal !important;
    width: auto;
    font-size: 10px;
    
    overflow: hidden;
    word-wrap: break-word;
    border:solid 1px #4b4b4b;
    padding-left: 2px
  }
  .stat-table-user tr th:last-child, .stat-table-user tr td:last-child, .stat-table-agency-in tr th:last-child, .stat-table-agency-in tr td:last-child {
    display: none;
  }
  .filter-wrap {
    display: none;
  }
  
  .btn_2, .iframe_r {
    display: none;
  }


  .header-account__profile, .header-lk {
    display: none;
  }

  .stat-table table tr th:nth-child {
    padding-left: 2px
  }

	.page-header{
		 margin-bottom:20px;
	}
  
  /* Таблица выдача ключей */
  
  #zapisdata tr td { padding:2px; border:solid 1px #4b4b4b; }
 
   .page-header{ padding-bottom:0; margin-bottom:10px; }
   .header-lk {display:none; }
   .page-header__title{   margin-left:20px; line-height: 2.5em; }
   body{ padding-top:0px; }
   .add_buttons{ display:none; }
   
   
  /*------end Print css------*/
}
