# Включаем модуль переадресации URL
RewriteEngine On

# Условие: если запрашиваемый URL - это не реальный файл
RewriteCond %{REQUEST_FILENAME} !-f
# Условие: и если запрашиваемый URL - это не реальная папка
RewriteCond %{REQUEST_FILENAME} !-d

# Правило: перенаправить все остальные запросы на главный скрипт API
# ЗАМЕНИТЕ index.php на имя вашего файла, если оно другое (например, index.php)
RewriteRule ^(.*)$ index.php [QSA,L]